@using Data.DB

<select class="form-control" id="slDistrictShop">
    @{
        <option>Tất cả Quận/Huyện</option>
        foreach (var d in (List<District>)ViewBag.listDistrictShop)
        {
            <option value="@d.ID">@d.Name</option>
        }
    }
</select>

