@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Data.DB
@using Data.Utils
@using APIProject.Resource

<div id="ViewCusDetail">
    <div class="col-md-12">
        <div class="breadcrumb-holder">
            <div class="row mb-3 mt-3">
                <div class="col-md-10 col-sm-10 col-9 text-info px-0">
                    <h4 class="mt-2">Báo cáo khách hàng</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-3 offset-md-0 col-sm-3 mt-1">
            <input type="text" id="txtCodeOrName" class="form-control" placeholder="Nhập tên hoặc số điện thoại khách hàng" />
        </div>
        <div class="col-md-3 col-sm-6 col-12 mt-1">
            <select class="form-control" name="calc_shipping_provinces" id="CusProvince" onchange="searchCustomerReport()">
                <option value="" selected>---Tỉnh / Thành phố---</option>
                @foreach (Data.DB.Province obj in ViewBag.Province)
                {
                    <option value="@obj.ID">
                        @obj.Name
                    </option>
                }
            </select>
        </div>
        <div class="col-md-3 offset-md-0 col-sm-3 mt-1">
            <input type="text" id="txtFromDate" class="form-control relative-icon-calendar date" placeholder="Từ ngày" />
            <i class="fa fa-calendar absolute-icon-calendar"></i>
        </div>
        <div class="col-md-3 offset-md-0 col-sm-3 mt-1">
            <input type="text" id="txtToDate" class="form-control relative-icon-calendar date" placeholder="Đến ngày" />
            <i class="fa fa-calendar absolute-icon-calendar"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <div class="row">
                <div class="col-md-12 text-right mb-2">
                    <button id="btnClear" class="btn btn-danger" onclick="ClearFilterCusReport()"><i></i>Dọn bộ lọc</button>
                    <button id="btnSearch" class="btn btn-primary btn_search" onclick="searchCustomerReport();"><i class="fa fa-search"></i>Tìm kiếm</button>
                    @{
                        if (ViewBag.roleLoginStatisticCustomer == 6 || ViewBag.roleLoginStatisticCustomer == 7)
                        {
                            <button hidden class="btn btn-primary btn_export" id="btnExport" onclick="exportListCusReport()"><i class="fa fa-download mr-1"></i>Xuất excel</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn_export" id="btnExport" onclick="exportListCusReport()"><i class="fa fa-download mr-1"></i>Xuất excel</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12" id="tableCustomerReport">
            @{ Html.RenderAction("SearchCustomerReport", "StatisticCustomer", new { Page = 1 }); }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".sidebar-scroll").scrollTop(2000);
        history.replaceState(null, null, ' ');
    });
    $('#tabStatisticCustomer').addClass("active");
    $('#ulStatistic').addClass("d-block");
    $('#tabStatistic').addClass("active");
    function exportListCusReport() {
        var SearchKey = $('#txtCodeOrName').val();
        var ProvinceID = $('#CusProvince').val();
        var FromDate = $('#txtFromDate').val();
        var ToDate = $('#txtToDate').val();
        //swal({
        //    title: "Vui lòng chờ...!",
        //    text: "Việc này có thể kéo dài trong vài phút",
        //    icon: "warning",
        //    buttons: ["Cancel", "OK"],
        //    dangerMode: true
        //})
        window.location.href = "/StatisticCustomer/ExportListCusReport?serchKey=" + SearchKey + "&provinceID=" + ProvinceID + "&fromDate=" + FromDate + "&toDate=" + ToDate;
    }

</script>