@using Data.DB
@using APIProject.Resource

<select class="form-control" id="slDistrict">
    @{
    <option>@Resources.AllDistricts</option> 
        foreach (var d in (List<District>)ViewBag.listDistrict)
        {
            <option value="@d.Code">@d.Name</option>
        }
    }
</select>
