
@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="hr1"></div>
<body style="font-family:'Open Sans'">
    <div class="complain">
        <div class="container">
            <h2>QUY ĐỊNH VỀ KHIẾU NẠI CỦA WESHIP</h2>
            <div class="complain-section">
                <h3>I. QUY ĐỊNH VỀ KHIẾU NẠI</h3>
                <div>
                    <h4>1. Thời hiệu khiếu nại: </h4>
                    <p>Việc khiếu nại quy định tại Điều này phải được lập thành văn bản. Thời hiệu khiếu nại được quy định như sau:</p>
                    <div>
                        <h4>Thời hiệu khiếu nại đối với dịch vụ chuyển phát Bưu gửi bằng xe máy:</h4>
                        <ul>
                            <li>06 (sáu) tháng, kể từ ngày kết thúc Thời gian Toàn trình của Bưu gửi đối với khiếu nại về việc mất Bưu gửi, chuyển phát Bưu gửi chậm so với Thời gian Toàn trình đã công bố.</li>
                            <li>01 (một) tháng, kể từ ngày Bưu gửi được phát cho người nhận đối với khiếu nại về việc Bưu gửi bị suy suyển, hư hỏng, về giá cước và các nội dung khác có liên quan trực tiếp đến Bưu gửi.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Thời hiệu khiếu nại đối với dịch vụ bằng xe tải:</h4>
                        <ul>
                            <li>01 (một) tháng, kể từ ngày kết thúc Thời gian Toàn trình của Hàng hóa đối với khiếu nại về việc mất Hàng hóa, giao Hàng hóa chậm so với thời gian toàn trình tại bảng giá;</li>
                            <li>48 (bốn mươi tám) giờ, kể từ ngày Hàng hóa được phát cho người nhận đối với khiếu nại về việc Hàng hóa bị suy suyển, hư hỏng, về giá cước và các nội dung khác có liên quan trực tiếp đến Hàng hóa</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>2. Các kênh tiếp nhận khiếu nại: </h4>
                    <p>a. Tất cả các vấn đề liên quan đến giao hàng, xử lý sự cố phát sinh, phải được thông báo đến Bộ phận Chăm sóc khách hàng (“CSKH”) qua một trong các kênh liên hệ sau:</p>
                    <div>
                        <ul>
                            <li>Hotline: <b>02396.567.567</b></li>
                            <li>Email: cskh.weship@gmail.com</li>
                            <li>Website hoặc App quản lý đơn hàng</li>
                        </ul>
                    </div>
                    <p>b. Thời gian làm việc:</p>
                    <div>
                        <ul>
                            <li>Thứ hai – Chủ nhật: 08h30 – 21h00</b></li>
                            <li>Ngày lễ: 09h00 – 17h00</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>3. Các thông tin Khách hàng cung cấp cho CSKH: </h4>
                    <div>
                        <ul>
                            <li>Mã đơn hàng</li>
                            <li>Phiếu gửi hàng hóa</li>
                            <li>Tình trạng hàng hóa đính kèm hình ảnh (nếu có)</li>
                            <li>Biên bản làm việc hoặc đồng kiểm hàng hóa (nếu có)</li>
                            <li>Các thông tin khác về đơn hàng (nếu có).</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h4>4. Điều kiện để được giải quyết khiếu nại: </h4>
                    <p>Người khiếu nại phải là Khách hàng trực tiếp sử dụng Dịch vụ của WeShip hoặc Bên thứ ba được Khách hàng chỉ định (có Giấy ủy quyền được xác nhận bởi cơ quan có thẩm quyền). Khách hàng phải thực hiện khiếu nại theo đúng quy định tại Mục I này.</p>
                </div>

                <h3>II. QUY TRÌNH GIẢI QUYẾT KHIẾU NẠI</h3>
                <div>
                    <h4>1. Thời hạn giải quyết khiếu nại: </h4>
                    <p>a. Tất cả các vấn đề liên quan đến giao hàng, xử lý sự cố phát sinh, Khách hàng thông báo đến tổng đài chăm sóc khách hàng của Công ty qua các kênh liên hệ sau: (i) số hot-line 02396.567.567; (ii) Website hoặc App quản lý đơn hàng; (iii) gửi thông tin đến địa chỉ email: cskh.weship@gmail.com</p>
                    <p>b. Tất cả các khiếu nại sẽ được CSKH của Công ty tiếp nhận và xử lý trong vòng 02 (hai) ngày làm việc kể từ ngày nhận được khiếu nại. Đối với trường hợp phức tạp, thời gian tối đa giải quyết khiếu nại là không quá 02 (hai) tháng kể từ ngày nhận được khiếu nại theo quy định pháp luật.</p>
                </div>

                <div>
                    <h4>2. Các bước xử lý khiếu nại:  </h4>
                    <p>Quy trình giải quyết sự cố, khiếu nại được thực hiện căn cứ vào nguồn gốc lỗi phát sinh:</p>
                    <div>
                        <h4>a. Trường hợp sự cố xảy ra có nguồn gốc từ Khách hàng: </h4>
                        <p>Hàng bị hư, móp, méo, đổ, rách, không đúng quy cách, phẩm chất, chất lượng, số lượng, hạn sử dụng như cam kết với Người nhận mà bao bì, tem niêm phong vẫn còn nguyên vẹn hoặc Sự cố được phát hiện trong quá trình nhân viên WeShip chứng kiến việc Người nhận kiểm tra Bưu gửi.</p>
                        <ul>
                            <li class="font-bold">Bước 1: Lập Biên bản ghi nhận sự cố </li>
                            Khi phát sinh sự cố, nhân viên WeShip chụp hình, giữ nguyên trạng thái và tiến hành lập biên bản với Người nhận. Nội dung biên bản xảy ra sự cố thể hiện rõ: (i) Thông tin về Bưu gửi, Người gửi, Người nhận; (ii) Địa điểm, ngày, tháng, năm chấp nhận/phát Bưu gửi; (iii) Mô tả chi tiết thực trạng Bưu gửi (“Biên bản”). Nhân viên WeShip sẽ bao bọc.
                            <li class="font-bold">Bước 2: Chuyển thông tin sự cố cho CSKH </li>
                            Ngay khi lập xong Biên bản, nhân viên WeShip liên hệ ngay CSKH của WeShip qua tổng đài 02396.567.567, thông báo mã đơn hàng, tình trạng đơn hàng, và thực trạng hàng hóa. Nhân viên WeShip giữ và gửi Bưu gửi có niêm phong cùng Biên bản về các điểm giao dịch của WeShip.
                            <li class="font-bold">Bước 3: Bộ phận CSKH thông báo trực tiếp tới Khách hàng </li>
                            Căn cứ thông tin nhân viên WeShip phản ánh, CSKH gọi điện thoại hoặc gửi email trực tiếp cho Khách hàng thông báo về sự cố và thời hạn dự kiến Bưu gửi hoàn trả lại cho Khách hàng.
                            <li class="font-bold">Bước 4: WESHIP hoàn trả Bưu gửi cho Khách hàng </li>>
                            Bưu gửi có sự cố còn niêm phong từ các điểm kinh doanh của WeShip được hoàn trả lại cho Khách hàng trong Thời gian Toàn trình như cam kết.  
                        </ul>
                    </div>
                    <div>
                        <h4>b. Trường hợp sự cố xảy ra có nguồn gốc từ WeShip như: </h4>
                        <p>Bưu gửi bị mất, cướp, thất lạc, hư, móp, đổ, rách, tráo đổi so với Bưu gửi được chấp nhận mà bao bì, tem niêm phong không còn nguyên vẹn hoặc lỗi do nhân viên WeShip gây ra trong quá trình luân chuyển, trong thời gian chuyển giao Bưu gửi cho Người nhận.</p>
                        <ul>
                            <li class="font-bold">Bước 1: Lập Biên bản ghi nhận sự cố</li>
                            Ngay khi sự cố xảy ra, nhân viên WeShip đang xử lý Bưu gửi tiến hành chụp hình, lập Biên bản ghi nhận đầy đủ thông tin liên quan đến Bưu gửi. Biên bản phải có đủ chữ ký của nhân viên đó và người quản lý trực tiếp hoặc người chứng kiến thứ 3. Bưu gửi được gói trong bao bì và niêm phong nguyên trạng. Chứng từ, Biên bản được gửi cho CSKH và Khách hàng một (01) bản.
                            <li class="font-bold">Bước 2: Chuyển thông tin cho CSKH</li>
                            CSKH cập nhật thông tin do nhân viên WeShip gửi qua hoặc tiếp nhận trực tiếp từ khiếu nại của Khách hàng thông qua tổng đài.
                            <li class="font-bold">Bước 3: Bộ phận CSKH thông báo trực tiếp tới Khách hàng  </li>
                            Căn cứ thông tin nhận được, CSKH gọi điện thoại hoặc gửi email trực tiếp cho Khách hàng thông báo sự cố, đồng thời yêu cầu Khách hàng cung cấp Thông tin chứng minh giá trị bưu gửi được quy định tại Chính sách bồi thường.
                            <li class="font-bold">Bước 4: WeShip thẩm định và phản hồi cho khách hàng kết quả đền bù </li>
                            Sau khi nhận được đầy đủ thông tin từ khách hàng, WeShip sẽ phản hồi kết quả xử lý theo thời hạn quy định tại Mục 1.2.Trường hợp khách hàng đã cung cấp đầy đủ thông tin chứng minh giá trị sản phẩm và đủ điều kiện nhận đền bù, CSKH sẽ thông báo xác nhận giá trị đền bù và thời gian WeShip tiến hành chuyển khoản đền bù cho Khách hàng theo thỏa thuận hoặc email xử lý khiếu nại với Khách hàng.
                            <li class="font-bold">Bước 5: WeShip thực hiện đền bù, bồi thường thiệt hại theo cam kết  </li>
                            WeShip tiến hành thực hiện đền bù bằng chuyển khoản vào tài khoản khách hàng trong vòng thời hạn không quá 15 (mười lăm) ngày làm việc, tính từ lúc WeShip gửi thông báo kết quả đền bù tại Bước 4.
                        </ul>
                    </div>
                    
                </div>
            </div>



        </div>
    </div>



</body>

