
@{
    ViewBag.Title = "CompensationPolicy";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="hr1"></div>
<body style="font-family:'Open Sans'">
    <div class="complain">
        <div class="container">
            <h2>CHÍNH SÁCH BỒI THƯỜNG CỦA WESHIP ĐỐI VỚI DỊCH VỤ GIAO HÀNG</h2>
            <div class="bold-title">
                <p style="font-style: italic">(Ban hành kèm theo Quyết định số 01/2021/QĐ-WS ngày 01/04/2021 của Giám đốc Công ty TNHH WeShip Việt Nam)</p>
                <p>Chính sách bồi thường này (“Chính sách bồi thường”) sẽ có giá trị pháp lý ràng buộc Khách hàng (được định nghĩa dưới đây).</p>
            </div>
            <div class="complain-section">
                <h3>I. THUẬT NGỮ</h3>
                <div class="bold-text">
                    <h4>1. Thời hiệu khiếu nại: </h4>
                    <p><b>“WeExpress”</b>có nghĩa là dịch vụ Chuyển Phát Nhanh toàn quốc của Công ty TNHH WeShip Việt Nam.</p>
                    <p><b>“WeSen”</b> có nghĩa là dịch vụ giao nhận hàng siêu tốc nội thành của Công ty TNHH WeShip Việt Nam.</p>
                    <p><b>“Khách hàng”</b> có nghĩa là cá nhân hoặc tổ chức sử dụng Dịch vụ của WeShip.</p>
                    <p><b>“Bưu gửi”</b> có nghĩa là thư, gói, kiện hàng hóa được WeShip chấp nhận, vận chuyển và phát hợp pháp trong hệ thống bưu cục của WeShip.</p>
                    <p><b>“Đơn hàng”</b> có nghĩa là yêu cầu thực hiện Dịch vụ được Khách hàng thiết lập qua Hệ thống hoặc được viết tay dưới dạng Phiếu gửi/Phiếu yêu cầu Dịch vụ có đầy đủ thông tin về Bưu gửi.</p>
                    <p><b>“Dịch vụ”</b> có nghĩa là dịch vụ liên quan việc giao nhận Bưu gửi, bao gồm: chấp nhận, vận chuyển và phát Bưu gửi bằng các phương thức khác nhau từ địa điểm do Khách hàng chỉ định đến địa điểm của người nhận.</p>
                    <p><b>“Hệ thống”</b> có nghĩa là phần mềm ứng dụng được cài đặt trên thiết bị di động hoặc website mà WeShip thiết lập cho việc sử dụng Dịch vụ của Khách hàng, bao gồm tạo, quản lý, theo dõi tiến độ của Đơn hàng; thanh toán cước Dịch vụ; kiểm soát, đối chiếu dữ liệu về Bưu gửi và cước Dịch vụ.</p>
                </div>

                <h3>II. GIÁ TRỊ KHAI BÁO HÀNG HÓA</h3>
                <p>Giá trị khai báo hàng hóa được xác định theo quy định tại Mục <b>II</b> này sẽ là căn cứ để tính trách nhiệm bồi thường của WeShip theo quy định tại Mục <b>III</b> dưới đây.</p>
                <p>Cho mục đích của Chính sách bồi thường này, Giá trị khai báo hàng hóa sẽ được xác định là giá trị được ghi/thể hiện trên hóa đơn có giá trị pháp lý mà người bán xuất cho Khách hàng cho việc mua Hàng hóa đó <b>(“Hóa đơn”)(*)</b>, với điều kiện là mô tả về Hàng hóa được nêu trên Hóa đơn phù hợp với mô tả mà Khách hàng tự ghi trên Đơn hàng.</p>
                <p><b>(*) Lưu ý:</b> Hóa đơn có giá trị pháp lý là:</p>
                <p>Hóa đơn giá trị gia tăng, nếu người bán là doanh nghiệp kê khai thuế giá trị gia tăng <b>(“GTGT”)</b> theo phương pháp khấu trừ; hoặc Hóa đơn bán hàng, nếu người bán là doanh nghiệp kê khai thuế GTGT theo phương pháp trực tiếp; hoặc Bộ hồ sơ kê khai hải quan, nếu Hàng hóa được nhập khẩu từ nước ngoài vào Việt Nam.</p>

                <h3>III. BỒI THƯỜNG BỞI WESHIP</h3>
                <h4>3.1. Trường hợp Bưu gửi bị mất, thất lạc, hư hỏng</h4>
                <p>WeShip sẽ chịu trách nhiệm bồi thường cho Khách hàng nếu Bưu gửi bị hư hỏng, mất mát hoặc thất lạc xảy ra trong quá trình WeShip cung ứng Dịch vụ gây ra do lỗi của WeShip. Trách nhiệm của WeShip chỉ giới hạn trong thiệt hại và tổn thất trực tiếp và thực tế gây ra cho hoặc liên quan đến Bưu gửi. Các loại thiệt hại hoặc tổn thất khác (bao gồm nhưng không hạn chế bởi tổn thất lợi nhuận, thu nhập, cơ hội kinh doanh) sẽ bị loại trừ.</p>

                <h4>a. Bưu gửi là thư từ, tài liệu, ấn phẩm, giấy tờ, hóa đơn, hợp đồng và các loại văn bản khác:</h4>
                <p>Trong trường hợp Bưu gửi bị hư hỏng, mất mát hoặc thất lạc, khoản tiền bồi thường WeShip sẽ trả cho Khách hàng sẽ bằng 04 (bốn) lần Cước phí của Dịch vụ đã sử dụng.</p>

                <h4>b. Bưu gửi là vật phẩm, hàng hóa hoặc Phiếu có giá trị quy đổi:</h4>
                <h4>b.1. Trường hợp Bưu gửi bị mất, thất lạc:</h4>
                <table class="table table-bordered text-center">
                    <tr>
                        <th>TRƯỜNG HỢP</th>
                        <th>CHI TIẾT BỒI THƯỜNG</th>
                    </tr>
                    <tr>
                        <td>
                            Khách có đầy đủ hóa đơn, chứng từ
                        </td>
                        <td>Khoản tiền bồi thường sẽ trẻ cho khách hàng sẽ bằng giá trị hàng hóa mà khách hàng đã khai báo với WeShip. Trong mọi trường hợp khoản tiền bồi thường sẽ không vượt quá 20.000.000 VNĐ( Hai mươi triệu đồng )</td>
                    </tr>
                    <tr>
                        <td>Khách hàng không cung cấp đủ hóa đơn, chứng từ</td>
                        <td>Đền bù tối đa 4 lần cước phí gửi hàng</td>
                    </tr>
                </table>

                <h4>b.1. Trường hợp Bưu gửi bị mất, thất lạc:</h4>
                <p>Khoản tiền bồi thường sẽ phụ thuộc vào mức độ hư hỏng của Bưu gửi, cụ thể được xác định như sau:</p>
                <img src="~/Content/images/image99.jpg" alt="" width="100%" />

                <h4 class="mt-30">(**) Bảng giá trị bồi thường đối với hàng hóa hư hỏng:</h4>
                <table class="table table-bordered text-center">
                    <tr>
                        <th>LOẠI HƯ HỎNG</th>
                        <th>MỨC BỒI THƯỜNG TỐI ĐA</th>
                        <th>KHOẢN TIỀN BỒI THƯỜNG TỐI ĐA</th>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            Hàng hóa trong bưu gửi còn nguyên, tuy nhiên bao bì bên ngoài của Bưu gửi bị:
                            <ul>
                                <li style="list-style: none">- Rách, vỡ, ướt thùng hàng, hộp đừng hàng.</li>
                                <li style="list-style: none"> - Rách tem niêm phong của nhà sản xuất, sản phẩm còn nguyên.</li>
                            </ul>

                        </td>
                        <td><h4 style="color: #000">5%</h4></td>
                        <td>Khoản tiền bồi thường mất hàng * % hư hỏng</td>
                    </tr>
                    <tr>
                        <td>Hàng hóa bị bể, vỡ hư hại đến 50%</td>
                        <td><h4 style="color: #000">50%</h4></td>
                        <td>Khoản tiền bồi thường mất hàng * % hư hỏng</td>
                    </tr>
                    <tr>
                        <td>Hàng hóa bị bể, vỡ hư hại trên 50%</td>
                        <td><h4 style="color: #000">100%</h4></td>
                        <td>Khoản tiền bồi thường mất hàng * % hư hỏng</td>
                    </tr>
                </table>
                <p>Khách hàng thừa nhận và đồng ý rằng:</p>
                <p>(i) Mức độ hư hỏng của Bưu gửi do WeShip và Khách hàng cùng xác minh và thống nhất;</p>
                <p>(ii) Trong trường hợp Bưu gửi bị hư hỏng trên 50% thì WeShip sẽ được quyền sở hữu hàng hóa trong Bưu gửi đó. Khách hàng cam kết sẽ ký kết các tài liệu cần thiết cho mục đích chuyển quyền sở hữu đối với hàng hóa đó.</p>

                <h4>b.3. Trường hợp mất, thất lạc hoặc hư hỏng một hoặc một vài sản phẩm không đi liền theo bộ trong cùng một Bưu gửi:</h4>
                <p>(i) Trường hợp xảy ra mất, thất lạc một hoặc một vài sản phẩm không đi liền theo bộ trong cùng một Bưu gửi:</p>
                <p>Khoản tiền bồi thường được xác định theo công thức sau:</p>
                <img src="~/Content/images/image88.jpg" alt="" width="100%" />


                <p  class="mt-30">(ii) Trường hợp hư hỏng một hoặc một vài sản phẩm không đi liền theo bộ trong cùng một Bưu gửi:</p>
                <p>Khoản tiển bồi thường được xác đinh theo công thức sau:</p>
                <img src="~/Content/images/image77.jpg" alt="" width="100%" />

                <h4 class="mt-30">3.2. Trường hợp chậm trễ giao phát Bưu gửi</h4>
                <h4>a. Trễ toàn trình</h4>
                <p>Trong trường hợp Bưu gửi được phát cho Người Nhận trễ so với thời gian toàn trình thì WeShip sẽ không tính Cước phí Dịch vụ của Đơn hàng bị trễ đó.</p>
                <h4>b. Không xử lý</h4>
                <p>Nếu WeShip giữ (mà không thực hiện giao phát cho Người Nhận) Bưu gửi quá 15 (mười lăm) ngày tính từ ngày Bưu gửi được WeShip nhận từ Khách hàng hoặc không phát trả Bưu gửi cho Khách hàng hoặc thông báo cho Khách hàng lên nhận lại Bưu gửi trong thời hạn 15 (mười lăm) ngày tính từ ngày giao phát không thành công, thì WeShip sẽ bồi thường theo như chính sách mất hàng được quy định tại Mục 3.1(b.1). Quy định tại Mục 3.2 này không áp dụng cho trường hợp hai bên đang có tranh chấp về Đơn hàng hoặc WeShip trả Bưu gửi nhưng Khách hàng từ chối nhận lại Bưu gửi từ 03 (ba) lần trở lên.</p>
                <h4>3.3 Các lưu ý và quy định khác về trách nhiệm bồi thường của WeShip</h4>
                <p>WeShip sẽ chỉ thanh toán khoản tiền bồi thường trực tiếp cho Khách hàng. Trong trường hợp Khách hàng ủy quyền cho người khác nhận khoản tiền bồi thường, Khách hàng cần phải cung cấp cho WeShip một thư ủy quyền hợp lệ được WeShip chấp nhận.</p>
                <p>Đối với Bưu gửi là Phiếu có giá trị quy đổi có thời hạn sử dụng thì Khách hàng sẽ chỉ được bồi thường nếu thời hạn sử dụng của phiếu phải còn ít nhất là 03 (ba) tháng tính từ khi WeShip nhận Bưu gửi. Khách hàng thừa nhận và đồng ý rằng Khách hàng sẽ không có quyền yêu cầu bồi thường, và WeShip sẽ không có trách nhiệm bồi thường, nếu phiếu có giá trị quy đổi bị mất hay hư hỏng không đạt điều kiện này.</p>
                <p>Trong mọi trường hợp mất, thất lạc hoặc hư hỏng xảy ra cho Bưu gửi, khoản tiền bồi thường sẽ không thấp hơn 04 (bốn) lần Cước phí của Dịch vụ đã sử dụng.</p>
                <p>Khách hàng thừa nhận và đồng ý rằng nếu Khách hàng từ chối hoặc không phối hợp để thực hiện đồng kiểm Bưu gửi với WeShip thì trong trường hợp xảy ra mất mát, thất lạc, hư hỏng cho Bưu gửi, khoản tiền bồi thường WeShip phải trả cho Khách hàng sẽ chỉ bằng 04 (bốn) lần Cước phí của Dịch vụ đã sử dụng.</p>
                <p>Khách hàng thừa nhận và đồng ý rằng trong trường hợp xảy ra mất mát, thất lạc, hư hỏng cho Bưu gửi mà Khách hàng không cung cấp được Hóa đơn chứng minh Giá trị khai báo hàng hóa theo quy định tại Mục II trên đây thì khoản tiền bồi thường WeShip phải trả cho Khách hàng sẽ chỉ bằng 04 (bốn) lần Cước phí của Dịch vụ đã sử dụng.</p>
                <p>Khách hàng thừa nhận và đồng ý rằng trong mọi trường hợp, khoản tiền bồi thường trên đã bao gồm việc hoàn trả Cước phí Dịch vụ đã thanh toán cho WeShip</p>
                <p>Khách hàng từ bỏ và sẽ không thực hiện bất kỳ và mọi quyền, quyền yêu cầu, hành động chống lại WeShip liên quan đến tổn thất, thiệt hại gây ra cho Bưu gửi vượt quá hạn chế trách nhiệm bồi thường của WeShip như nêu tại Mục III này.</p>

                <h4>IV. BỒI THƯỜNG BỞI KHÁCH HÀNG</h4>
                <p>Khách hàng thừa nhận và đồng ý sẽ bồi thường, bảo vệ và giữ cho WeShip và cổ đông, giám đốc, người quản lý, nhân viên, nhà thầu, tư vấn của WeShip (các “Bên được bồi thường của WeShip”) không bị ảnh hưởng và tránh khỏi bất kỳ và mọi thiệt hại, tổn thất, chi phí và phí (bao gồm phí pháp lý), yêu cầu, trách nhiệm, khiếu kiện, lệnh, yêu cầu, hành động của cơ quan nhà nước có thẩm quyền, có thể được đưa ra chống lại hoặc phải gánh chịu bởi WeShip và các Bên được bồi thường của WeShip, là hậu quả của hoặc phát sinh từ hoặc có liên quan đến: Thiệt hại, hư hỏng, tổn thất, mất mát, hao hụt, trách nhiệm, yêu cầu, khiếu kiện liên quan đến Bưu gửi đó gây ra bởi hành động hoặc việc không thực hiện một hành động nào của Khách hàng, bao gồm nhưng không hạn chế bởi việc cung cấp, kê khai thông tin về Bưu gửi không đúng hoặc thiếu sót; đóng gói, bao bọc Bưu gửi không đầy đủ, không phù hợp, không cẩn thận, không tuân thủ quy định, hướng dẫn về đóng gói của WeShip, nhà sản xuất hay quy định của pháp luật; Thông tin Người Nhận không đúng hoặc thiếu sót; hoặc Bưu gửi thuộc trường hợp bị cấm gửi, chấp nhận, vận chuyển theo quy định của pháp luật; hoặc Khách hàng vi phạm quy định pháp luật.</p>

                <h4>V. MIỄN TRỪ TRÁCH NHIỆM</h4>
                <p>Khách hàng thừa nhận và đồng ý WeShip sẽ được miễn trừ trách nhiệm và sẽ vô can đối với bất kỳ và mọi thiệt hại, tổn thất, mất mát, hư hỏng, bồi thường, chậm trễ, yêu cầu, trách nhiệm, khiếu kiện, hành động của Khách hàng và/hoặc cơ quan nhà nước có thẩm quyền có thể được đưa ra chống lại hoặc phải gánh chịu bởi WeShip và các Bên được bồi thường của WeShip liên quan đến Bưu gửi được gây ra bởi, phát sinh từ, hoặc liên quan đến:</p>
                <p>Sự không tuân thủ bởi Khách hàng bất kỳ quy định của pháp luật về hàng hóa cấm hoặc hạn chế lưu thông, vận chuyển và các quy định khác của pháp luật (bao gồm, nhưng không hạn chế bởi trường hợp Bưu gửi không có hóa đơn, chứng từ nguồn gốc xuất xứ; bị kiểm tra, tịch thu hoặc tiêu hủy theo quyết điṇh của cơ quan có thẩm quyền hoặc an ninh sân bay);</p>
                <p>Sự không tuân thủ bởi Khách hàng bất kỳ thỏa thuận nào về sử dụng Dịch vụ của WeShip, hoặc bất kỳ quy định, chính sách nào của WeShip (bao gồm, nhưng không hạn chế bởi Bưu gửi nằm ngoài phạm vi nhận vận chuyển của WeShip, địa chỉ giao hoặc nhận Bưu gửi không thuộc phạm vi cung ứng Dịch vụ của WeShip, Bưu gửi thuộc danh mục hàng hóa không được vận chuyển qua đường hàng không; Khách hàng không thực hiện đúng các quy định về khiếu nại, giải quyết tranh chấp theo luật định hoặc theo Chính sách chăm sóc Khách hàng của WeShip);</p>
                <p>Hành động hoặc không thực hiện hành động nào của Khách hàng, cho dù là do lỗi cẩu thả, bất cẩn, cố ý làm sai, hoặc lừa dối (bao gồm, nhưng không hạn chế bởi trường hợp việc cung cấp, kê khai thông tin về Bưu gửi không đúng hoặc thiếu sót; đóng gói, bao bọc Bưu gửi không đầy đủ, không phù hợp, không cẩn thận, không tuân thủ quy định, hướng dẫn về đóng gói của WeShip, nhà sản xuất hay quy định của pháp luật; Thông tin Người Nhận không đúng hoặc thiếu sót Khách hàng không có chứng từ chứng minh Bưu gửi bị mất hoặc hư hỏng; Khách hàng không có chứng từ chứng minh việc sử dụng dịch vụ);</p>
                <p>Hành động hoặc không thực hiện hành động của một bên thứ ba, cho dù là do lỗi cẩu thả, bất cẩn, cố ý làm sai, hoặc lừa dối (bao gồm, nhưng không hạn chế bởi trường hợp hàng hóa bị cướp, giật; hư hỏng, mất mát gây ra bởi Người Nhận; hàng hóa không đáp ứng yêu cầu, tiêu chuẩn về chất lượng, quy cách, bao gồm nhưng không giới hạn trường hợp màu sắc, kích cỡ, chất liệu sản phẩm không đúng với hình ảnh, thông tin được cung cấp bởi người bán hàng hoặc nhà sản xuất; chuyến bay chậm trễ hoặc bị hủy; bị cơ quan chức năng kiểm tra trên đường vận chuyển);</p>
                <p>Đặc tính tự nhiên, khuyết tật vốn có của hàng hóa nằm trong Bưu gửi;</p>
                <p>Khách hàng từ chối nhận lại Bưu gửi hoặc WeShip không liên hệ được với Khách hàng sau khi WeShip đã thực hiện giao trả lại Bưu gửi ít nhất 03 (ba) lần. Trong trường hợp này, Khách hàng thừa nhận và đồng ý rằng WeShip sẽ có quyền giữ Bưu gửi trong vòng 06 (sáu) tháng kể từ lần trả cuối cùng. Sau khoảng thời gian này, Khách hàng thừa nhận và đồng ý rằng Khách hàng đã từ bỏ mọi quyền và quyền yêu cầu và WeShip sẽ được miễn trừ khỏi mọi yêu cầu, trách nhiệm, khiếu kiện liên quan đến Bưu gửi.</p>
                <p>Trong trường hợp một phần thiệt hại, tổn thất xảy ra do Khách hàng vi phạm, Khách hàng thừa nhận và đồng ý sẽ từ bỏ quyền yêu cầu đối với, và WeShip sẽ không có trách nhiệm bồi thường cho, phần thiệt hại, tổn thất tương ứng với mức độ thiệt hại do Khách hàng gây ra.</p>
                <p>Bưu gửi đã được phát và người nhận không có ý kiến khi nhận Bưu gửi. Các trường hợp bất khả kháng theo quy định của Luật Việt Nam.</p>

            </div>



        </div>
    </div>



</body>



