
@{
    ViewBag.Title = "DriverPartner";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<main style="overflow:hidden">
    <!-- Banner-->
    @*<div class="banner">
            <div class="text-center">
                <img class="img-fluid mw-100 h-auto" src="~/Content/images/banner_driver.png" />
            </div>
        </div>*@

    <div class="banner">
        <div>
            <img src="~/Content/images/banner_driver.png" width="100%" />
        </div>
    </div>

    <section class="pricing-card-area section-bg" style="padding-top:2%">
        <div class="container ">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center">
                        <h2 style="color:orangered; font-size: 30px; padding-top:3%; padding-bottom: 6%">Lý do nên dùng WESHIP</h2>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="reason-choose">
                    <div class="row">
                        <div class="wrapper">
                            <img src="~/Content/images/clock.png" />
                            <div class="title_style">Quản trị đơn hàng</div>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-5">
                        <p>Hệ thống Quản trị đơn hàng chuyên nghiệp, dễ dàng khi sử dụng. </p>
                    </div>

                </div>
                <div class="reason-choose">
                    <div class="row">
                        <div class="wrapper">
                            <img src="~/Content/images/clock_1.png" />
                            <div class="title_style">Đội ngũ nhân viên</div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-5">
                        <p>Đội ngũ nhân viên thân thiện, nhiệt huyết, giao hàng nhanh chóng và tận tâm. </p>
                    </div>
                </div>
                <div class="reason-choose">
                    <div class="row">
                        <div class="wrapper">
                            <img src="~/Content/images/clock_2.png" />
                            <div class="title_style">Dịch vụ tiện lợi </div>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-5">
                        <p>Đặt đồ ăn, đồ uống  nhanh chóng, biết rõ nguồn gốc đảm bảo an toàn thực phẩm. </p>
                    </div>
                </div>
                <div class="reason-choose">
                    <div class="row">
                        <div class="wrapper">
                            <img src="~/Content/images/clock_3.png" />
                            <div class="title_style">Đặt xe nhanh hơn</div>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-5">
                        <p>Bắt xe nhanh, giá cước rẻ và được biết trước. </p>
                    </div>
                </div>
                <div class="reason-choose">
                    <div class="row">
                        <div class="wrapper">
                            <img src="~/Content/images/roket1h.png" width="42px" />
                            <span class="title_style">Mua sắm tiện ích</span>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-5">
                        <p>Mua sắm tiện ích an toàn, nhiều mặt hàng thiết yếu với đời sống. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Banner-->
    <!--<section class="pricing-card-area section-bg" style="padding-top:2%">
        <div class="container">-->
    <!-- Section Tittle -->
    <!--<div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center">
                        <h2 style="color:orangered; font-size: 30px; padding-top:3%; padding-bottom: 2%">Lý do nên chọn WESHIP</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main_driver">
        <div class="row mt-5">
            <div class="col-md-10 offset-1 col-sm-12 col-xs-6 col-lg-10">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-1">
                                <img src="~/Content/images/clock.png" />
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-6 col-sm-11">
                                <div class="title_style">THỜI GIAN LÀM VIỆC LINH HOẠT</div>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-5">
                            <p>Bạn có thể làm việc bất cứ thời gian nào bằng một thao tác đơn giản.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-1">
                                <img src="~/Content/images/clock_1.png" />
                            </div>
                            <div class="col-lg-7 col-md-10 col-xs-6 col-sm-11">
                                <div class="title_style">TIN CẬY TUYỆT ĐỐI</div>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-5">
                            <p>Bạn sẽ giao hàng COD với những khách hàng đã được WESHIP xác thực.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-1">
                                <img src="~/Content/images/clock_2.png" />
                            </div>
                            <div class="col-lg-7 col-md-10 col-xs-6 col-sm-11">
                                <div class="title_style">THU NHẬP HẤP DẪN </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-5">
                            <p>Bạn sẽ nhận được ngay tiền mặt từ khách hàng khi hoàn thành xong đơn hàng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-1">
                                <img src="~/Content/images/clock_3.png" />
                            </div>
                            <div class="col-lg-7 col-md-10 col-xs-6 col-sm-11">
                                <div class="title_style">ĐĂNG KÝ DỄ DÀNG</div>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-5">
                            <p>Sau khi đăng ký, chúng tôi sẽ gửi cho bạn email kèm thông tin và các giấy tờ cần chuẩn bị.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Banner 1-->

    <div class="banner">
        <div>
            <img src="~/Content/images/banner_driver_1.png" width="100%" />
        </div>
    </div>
    <!-- End Banner 1-->
    <div class="main_driver_2 mb-5">
        <div class="row ">
            <div class="col-md-8 col-sm-8 col-8 offset-2">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-6 card-body mt-5" style="background: #FFFFFF; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12); border-radius: 8px; height: auto">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2 style="color:orangered; font-size: 20px; padding-top:3%; padding-bottom: 2%;">Trở thành tài xế WESHIP ngay</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Họ và tên" id="name_driver" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Địa chỉ thường trú" id="address_driver" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input type="email" class="form-control" placeholder="Email" id="email_driver" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-4">
                                <input type="number" class="form-control number-type" placeholder="Tuổi" id="age_driver" min="1" max="99" />
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-4">
                                <input type="number" class="form-control number-type" placeholder="Số điện thoại" id="phone_driver" min="1" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <button class="btn form-control" style="background: #FF6E1E; border-radius: 8px; color:white" onclick="Send_Mail_Driver()">GỬI ĐĂNG KÝ</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-6 mt-5">
                        <div style="text-align:center">
                            <img class="img-fluid mw-100 h-auto" style="border-radius:8px" src="~/Content/images/driver_bike.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


