
@{
    ViewBag.Title = "IntroDuce";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<body>
    <div class="hr-trod"></div>
    <main style="font-family: 'Open Sans', sans-serif !important">
        <div class="py-5 container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 mb-2">
                    <h1 style="color:orangered;font-size: 30px; font-weight: 600;">Giới thiệu</h1>
                    <p>
                        Trong bối cảnh phát triển ngày càng lớn mạnh của ngành thương mại điện tử, dịch vụ kết nối khách hàng với nhà cung cấp dịch vụ bằng công nghệ, nhu cầu sử dụng nhiều dịch vụ đa dạng của khách hàng.
                        Trong khi đó, các công ty hiện tại chỉ cung cấp một mảng dịch vụ nhất định không đa dạng các dịch vụ để khách hàng lựa chọn trên cùng một nền tảng công nghệ. Vì vậy chúng tôi đã tạo ra WeShip.
                    </p>
                    <p>
                        WeShip là dịch vụ giao nhận, chuyển phát nhanh thu tiền hộ cho thương mại điện tử, shop bán hàng online.
                        Ngoài ra WeShip còn có thêm dịch vụ gọi xe taxi xe ôm, giao đồ ăn công nghệ và kết hợp với dịch vụ mua hàng hóa trên ứng dụng điện thoại.
                        Trong tương lai WeShip sẽ mở thêm các dịch vụ liên quan đến vận chuyển giao nhận logistics dựa trên công nghệ internet như mua sắm hộ, đi chợ hộ, dịch vụ kết nối taxi chở hàng… tạo ra hệ sinh thái trong ngành vận chuyển để phục vụ nhu cầu ngày càng đa dạng đến khách hàng.
                    </p>
                </div>

                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 mb-2">
                    <img src="~/Content/images/Group 2308.png" width="99%" />
                </div>
            </div>
        </div>

        <div class="py-5 container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 mb-2">
                    <img src="~/Content/images/intro-image.png" width="99%"/>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 mb-2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingTwo" style="background-color: #FF6E1E !important">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-white" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-chevron-down"></i> Tầm nhìn</button>
                                </h2>
                            </div>

                            <div id="collapseTwo" class="show collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Trở thành 1 doanh nghiệp hệ sinh thái đa dịch vụ trong ngành vận chuyển, giao nhận thương mại điện tử chuyên nghiệp hàng đầu khẳng định vị thế trên thị trường trong nước và quốc tế. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne" style="background-color: #FF6E1E !important">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-white collapsed" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-chevron-down"></i> Sứ mệnh</button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        - Đối với đối tác WeShip cam kết xây dựng mối quan hệ tin cậy, hợp tác bền vững cùng phát triển. Luôn luôn đồng hành cùng đối tác trong quá trình phát triển.
                                    </p>
                                    <p>
                                        - Đối với khách hàng WeShip cam kết mang đến nhiều dịch vụ trong nghành vận chuyển  đạt chất lượng tốt nhất dựa trên một nền tảng công nghệ hiện đại để đơn giản hóa quá trình sử dụng .
                                    </p>
                                    <p>
                                        - Đối với xã hội: Luôn ý thức lợi ích của WeShip đi liền với lợi ích xã hội, đóng góp tích cực vào các hoạt động hướng về cộng đồng dân tộc nước nhà.
                                    </p>
                                    <p>
                                        - Đối với CBCNV: Xây dựng môi trường làm việc thân thiện, đoàn kết, chuyên nghiệp và sáng tạo. Tạo sự công bằng để mọi người phát huy năng lực trong quá trình làm việc.
                                    </p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree" style="background-color: #FF6E1E !important">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-white collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-chevron-down"></i> Triết lý kinh doanh</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Luôn coi đối tác là trung tâm của mọi hoạt động phát triển và dịch vụ uy tín chất lượng, sự hài lòng của khách hàng là con đường mà WeShip hướng đến.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="pricing-card-area section-bg" style="padding-top:2%">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center">
                            <h2 style="color:orangered; font-size: 30px; padding-top:3%; padding-bottom: 2%">Lịch sử phát triển</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-center">
                        <p style="text-align:center;font-size:20px; font-family:'Open Sans'">Chúng tôi có một quá trình hình thành và phát triển vững chắc và dài hạn lên tới 7 năm. Khách hàng có thể an tâm về chất lượng dịch vụ mà chúng tôi cung cấp</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pricing-card-area section-bg" style="padding-top:2%; padding-bottom:4%">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="mt-25">
                                    <h6 class="intro-subtitle">Năm 2014 - WESHIP được thành lập</h6>
                                    <p style="font-size:16px;">5 lãnh đạo đã gặp nhau có cùng ý tưởng thành lập một công ty vận chuyển giúp tăng tốc độ vận chuyển cũng như tiết kiệm chi phí. Họ đã cùng bắt tay hợp tác và xây dựng WESHIP</p>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="text-center">
                                    <img src="~/Content/images/bat_tay.png" width="100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="row mt-20 mb-10">
                            <div class="col-md-12 col-sm-12 col-12 ">
                                <div class="text-center ">
                                    <img class="img-fluid mw-100 h-auto" style="margin:auto" src="~/Content/images/2014.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>




