
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<body style="font-family:'Open Sans'">
    <main>
        <section class="img-style fix" style="background-image: url(/Content/images/ggmap.jpg);">
            <br />
            <div>
                @*col-lg-4 col-xs-4 col-md-7 col-sm-10*@
                <div class="w-450">
                    <div class="card-body mb-80" style="background: #FFFFFF; box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.12); border-radius: 10px; height: auto; padding-bottom: 30px">
                        <div>
                            <div class="title_style text-center">Lộ trình</div>
                        </div>
                        <div class="order_border">
                            <div class="form-group">
                                <img src="~/Content/images/Group1.png" style="margin-left: 20px" />
                                <select id="" name="" class="order_input1 mt-15">
                                    <option class="contact_txt" value="">Thông tin người gửi</option>
                                    <option value="">
                                        2 Kim Giang - Thanh xuân - HN
                                    </option>
                                </select>
                                <hr />
                            </div>

                            <div class="form-group">
                                <img src="~/Content/images/Group2.png" style="margin-left: 20px" />
                                <select id="" name="" class="order_input1">
                                    <option class="contact_txt" value="">Thông tin người nhận</option>
                                    <option value="">
                                        2 Kim Giang - Thanh xuân - HN
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <img src="~/Content/images/Group3.png" /><label class="order_subtitle">Thời gian lấy hàng </label>
                            <select id="" name="" class="order_input">
                                <option value="">Lấy ngay</option>
                                <option value="">Ngày mai</option>
                                <option value="">Ngày kia</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <img src="~/Content/images/24px.png" /><label class="order_subtitle">Khuyến mãi</label>
                            <input class="order_input" placeholder="Nhập mã khuyến mãi" />
                        </div>
                        <div class="form-group">
                            <img src="~/Content/images/Group6.png" /><label class="order_subtitle">Ghi chú</label>
                            <input class="order_input" placeholder="Nhập ghi chú" />
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="order-txt">Phí giao hàng (6.7km)</div>
                                </div>
                                <div class="col-md-4 text-lg-right">
                                    <div class="order-fee">52.000đ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="btn btn-sm2 mb-20 mt-20 ">Đặt đơn</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        
    </main>
</body>


