
@{
    ViewBag.Title = "ProhibitShipping";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="hr1"></div>
<body style="font-family:'Open Sans'">
    <div class="complain">
        <div class="container">
            <h2>HÀNG HÓA WESHIP KHÔNG NHẬN VẬN CHUYỂN</h2>
            <div class="complain-section">
                <h3>I. HÀNG HÓA CẤM VẬN CHUYỂN, VẬN CHUYỂN CÓ ĐIỀU KIỆN THEO QUY ĐỊNH CỦA PHÁP LUẬT</h3>
                <div>
                    <p>a. Vũ khí quân dụng, súng săn, vũ khí thô sơ, vũ khí thể thao, công cụ hỗ trợ và vũ khí khác có tính năng, tác dụng tương tự, bao gồm nhưng không giới hạn các vật phẩm như sau:</p>
                    <div>
                        <ul>
                            <li>Vũ khí quận dụng: Súng ngắn, súng trường, súng tiểu liên và các loại sung quân dụng khác, bom mìn, lựu đạn, ngu lôi, thủy lôi...</li>
                            <li>Súng săn: súng kíp, súng hơi, và đạn sử dụng cho các loại súng này. Vũ khí thô sơ: dao găm, kiếm, giáo, mác, thương, lưỡi lê, mã tấu, côn, quả đấm, quả chùy, cung, nỏ, ná, phi tiêu…</li>
                            <li>Vũ khí thể thao, bao gồm:</li>
                            <li>Súng trường hơi, súng trường bắn đạn nổ, súng ngắn hơi, súng ngắn bắn đạn nổ, súng thể thao bắn đạn sơn, súng bắn đĩa bay và đạn sử dụng cho các loại súng này.</li>
                            <li>Vũ khí thô sơ được dùng để luyện tập, thi đấu thể thao.</li>
                            <li>Công cụ hỗ trợ, bao gồm:</li>
                            <li>Súng bắn điện, hơi ngạt, chất độc, chất gây mê, từ trường, laze, lưới, súng phóng dây mồi, súng bắn đạn nhựa, nổ, cao su, hơi cay, pháo hiệu, hiệu lệnh, đánh dấu và đạn sử dụng cho các loại súng này.</li>
                            <li>Phương tiện xịt hơi cay, hơi ngạt, chất độc, chất gây mê, chất gây ngứa.</li>
                            <li>Lựu đạn khói, lựu đạn cay, quả nổ.</li>
                            <li>Dùi cui điện, dùi cui cao su, dùi cui kim loại, dùi cui điện hình thỏi son, roi điện, gậy sắt, đèn pin có chức năng phóng điện, móc khóa chích điện, khóa số tám, bàn chông, dây đinh gai, áo giáp, găng tay điện, găng tay bắt dao, lá chắn, mũ chống đạn, thiết bị áp chế bằng âm thanh, nấm đấm sắt.</li>
                            <li>Động vật nghiệp vụ là động vật được huấn luyện để sử dụng cho yêu cầu bảo vệ an ninh quốc gia, bảo đảm trật tự, an toàn xã hội. Các phương tiện khác có tính năng, tác dụng tương tự như công cụ hỗ trợ.</li>

                        </ul>
                        <div>
                            <p>b. Trang thiết bị, kỹ thuật, khí tài, phương tiện chuyên dùng quân sự, công an, quân trang (bao gồm cả phù hiệu, cấp hiệu, quân hiệu của quân đội, công an), quân dụng cho lực lượng vũ trang; linh kiện, bộ phận, phụ tùng, vật tư và trang thiết bị đặc chủng, công nghệ chuyên dùng chế tạo chúng.</p>
                            <p>c. Thuốc gây nghiện, thuốc hướng tâm thần, tiền chất dùng làm thuốc và thuốc phóng xạ (bao gồm nguyên liệu, thuốc thành phẩm đơn chất và ở dạng phối hợp).</p>
                            <p>d. Các loại văn hóa phẩm thuộc diện cấm phổ biến và lưu hành hoặc đã có quyết định đình chỉ phổ biến và lưu hành tại Việt Nam, bao gồm nhưng không giới hạn: các loại văn hóa phẩm đồi trụy, phản động, mê tín dị đoan hoặc có hại tới giáo dục thẩm mỹ, nhân cách; ấn phẩm, tài liệu nhằm phá hoại trật tự công cộng chống lại Nhà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam.</p>
                            <p>e. Pháo các loại, bao gồm nhưng không giới hạn: pháo hoa, pháo nổ, pháo bông, pháo sáng; đèn trời; các loại thiết bị gây nhiễu máy đo tốc độ phương tiện giao thông.</p>
                            <p>f. Máy, thiết bị trò chơi điện tử có cài đặt chương trình trò chơi điện từ có thưởng và bàn, thiết bị trò chơi chuyên dùng cho casino.</p>
                            <p>g. Thuốc thú y và nguyên liệu sản xuất thuốc thú y, thuốc bảo vệ thực vật và nguyên liệu sản xuất thuốc bảo vệ thực vật ngoài danh mục được phép sử dụng tại Việt Nam hoặc thuộc danh mục hạn chế sử dụng theo quy định tại Luật Thú y.</p>
                            <p>h. Động vật, thực vật hoang dã quý hiếm và giống vật nuôi cây trồng quý hiếm (bao gồm cả vật sống và các bộ phận của chúng đã được chế biến) thuộc danh mục điều ước quốc tế mà Việt Nam là thành viên quy định và theo quy định của pháp luật hiện hành.</p>
                            <p>i. Giống thủy sản hoặc thủy sản cấm khai thác, thủy sản có dư lượng chất độc hại vượt quá giới hạn cho phép, thủy sản có độc tố tự nhiên gây nguy hiểm đến tính mạng con người</p>
                            <p>j. Phân bón không có trong danh mục được phép sản xuất, kinh doanh, lưu hành và sử dụng tại Việt Nam.</p>
                            <p>k. Giống cây trồng, vật nuôi không có trong danh mục được phép sản xuất, kinh doanh; giống cây trồng, vật nuôi gây hại đến sản xuất và sức khỏe con người, môi trường, hệ sinh thái.</p>
                            <p>l. Khoáng sản đặc biệt, độc hại.</p>
                            <p>m. Phế liệu nhập khẩu gây ô nhiễm môi trường.</p>
                            <p>n. Các loại thuốc chữa bệnh cho người, các loại vắc xin, sinh phẩm y tế, mỹ phẩm, hóa chất và chế phẩm diệt côn trùng, diệt khuẩn trong lĩnh vực gia dụng và y tế chưa được phép sử dụng tại Việt Nam.</p>
                            <p>o. Các loại trang thiết bị y tế chưa được phép sử dụng tại Việt Nam.</p>
                            <p>p. Phụ gia thực phẩm, chất hỗ trợ chế biến thực phẩm, vi chất dinh dưỡng, thực phẩm chức năng, thực phẩm có nguy cơ cao, thực phẩm được bảo quản bằng phương pháp chiếu xạ, thực phẩm có gen đã bị biến đổi chưa được cơ quan nhà nước có thẩm quyền cho phép.</p>
                            <p>q. Sản phẩm, vật liệu có chứa amiăng thuộc nhóm amfibole.</p>
                            <p>r. Vật hoặc chất dễ nổ, dễ cháy và hóa chất độc hại hoặc làm mất vệ sinh, gây ô nhiễm môi trường.</p>
                            <p>s. Tiền Việt Nam, tiền nước ngoài và các giấy tờ có giá trị như tiền.</p>
                            <p>t. Các loại kim khí quý (vàng, bạc, bạch kim…), các loại đá quí hay các sản phẩm khác được chế biến từ kim khí quí, đá quí.</p>
                            <p>u. Nguyên liệu thuốc lá, sản phẩm thuốc lá (kể cả thuốc lá điện tử), giấy vấn điếu thuốc lá; máy móc, thiết bị chuyên ngành sản xuất thuốc lá và phụ tùng thay thế. Thuốc lá điếu, xì gà và các dạng thuốc lá thành phẩm khác nhập lậu.</p>
                            <p>v. Hàng hóa có chứa chất phóng xạ, thiết bị bức xạ hoặc nguồn phóng xạ.</p>
                            <p>w. Di vật, cổ vật, bảo vật quốc gia thuộc sở hữu Nhà nước, sở hữu của tổ chức chính trị, tổ chức chính trị xã hội. Di vật, cổ vật không thuộc sở hữu nhà nước, sở hữu của tổ chức chính trị, tổ chức chính trị - xã hội.</p>
                            <p>x. Các sản phẩm mật mã sử dụng để bảo vệ thông tin bí mật Nhà nước.</p>
                            <p>y. Các vật phẩm, hàng hóa khác mà pháp luật của Việt Nam quy định cấm lưu thông, xuất khẩu, nhập khẩu, cấm vận chuyển bằng đường bưu chính theo quy định của pháp luật Việt Nam, điều ước quốc tế mà Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên tại từng thời điểm.</p>
                        </div>

                    </div>

                </div>

                <h3>II. HÀNG HÓA NGOÀI PHẠM VI CUNG ỨNG DỊCH VỤ CỦA WESHIP</h3>
                <div>
                    <p>a. Sinh vật sống. </p>
                    <p>b. Phụ gia thực phẩm.</p>
                    <p>c. Hàng đông lạnh.</p>
                    <p>d. Đồ ăn, thức uống.</p>
                    <p>e. Khí đốt các loại (bao gồm cả hoạt động chiết nạp).</p>
                    <p>f. Xăng, dầu các loại.</p>
                    <p>g. Thực phẩm thuộc Danh mục thực phẩm có nguy cơ cao.</p>
                    <p>h. Phim, băng, đĩa hình (bao gồm cả hoạt động in, sao chép).</p>
                    <p>i. Đèn pin siêu sáng.</p>
                    <p>j. Các loại thực phẩm dễ bị hư hỏng hoặc quá thời hạn bảo quản.</p>
                    <p>k. Thực phẩm có dạng lỏng, hoặc chứa chất lỏng.</p>
                    <p>l. Thực phẩm có khả năng tạo mùi ảnh hưởng đến việc lưu kho hàng hóa (ví dụ như cá khô, các loại mắm…).</p>
                    <p>m. Mực in, ô tô, xe máy, sơn, một số loại bột hóa chất và bột các loại, hương liệu, một số mặt hàng có từ trường...</p>
                    <p>n. Đồ chơi nguy hiểm, đồ chơi có hại tới giáo dục nhân cách và sức khỏe của trẻ em hoặc tới an ninh, trật tự, an toàn xã hội (bao gồm cả các chương trình trò chơi điện tử). Ví dụ: súng hơi, súng lò xo…</p>
                    <p>o. Rượu các loại.</p>
                    <p>p. Các vật phẩm là bùa, ngải, chú, lộc…</p>
                </div>

                <h3>III. HÀNG HÓA CẤM VẬN CHUYỂN BẰNG ĐƯỜNG HÀNG KHÔNG</h3>
                <div>
                    <p>a. Tất cả các loại vật phẩm quy định tại Mục I và II Danh mục này.</p>
                    <p>b. Sản phẩm có chứa các chất, hoặc hỗn hợp có khả năng gây nổ, gây cháy, bao gồm nhưng không giới hạn các chất sau:</p>
                    <ul>
                        <li>Chất khí dễ cháy (như bình gas, hộp quẹt gas/bật lửa/zippo các loại (không phân biệt có xăng hay không có xăng)…), chất khí không cháy, không độc (như bình oxy để thở, chất khí độc…) và bình chứa đối với các loại khí này.</li>
                        <li>Chất lỏng dễ cháy: như sơn, xăng, dầu, cồn, rượu (có độ cồn cao), keo, nước hoa, tinh dầu tràm...</li>
                        <li>Chất rắn dễ cháy: Các loại bột kim loại, gây cháy khi có tác động của thay đổi nhiệt độ.</li>
                        <li>Chất có khả năng tự bốc cháy: như phốt pho trắng…</li>
                        <li>Chất phản ứng khi tiếp xúc với nước toả ra khí dễ cháy.</li>
                        <li>Chất oxy hóa, chất hữu cơ có chứa oxy.</li>
                        <li>Chất độc và các chất có khả năng lây nhiễm: các loại thuốc trừ sâu, các loại virus gây bệnh với con người hay động vật, như bệnh tai xanh ở lợn, virus H5N1 ở gia cầm, virus viêm gan B ở người, các loại bệnh phẩm ở người và động vật cần xét nghiệm ở các phòng thí nghiệm, chất phóng xạ….</li>
                        <li>Chất ăn mòn, bao gồm axit, ắc quy, pin…</li>
                    </ul>
                    <p>c. Các mặt hàng thuộc nhóm khác:</p>
                    <ul>
                        <li>Sạc dự phòng, điện thoại, máy tính bảng… hoặc các thiết bị điện tử có kèm pin.</li>
                        <li>Kim loại (khối lượng trên 200g).</li>
                        <li>Các loại gel (kem dưỡng, mỹ phẩm) có thể tích trên 50ml.</li>
                        <li>Chất lỏng: nước các loại – thể tích trên 500ml.</li>
                        <li>Phụ tùng/phụ kiên xe (xe hơi, xe mô tô, xe đạp…).</li>
                        <li>Nam châm hoặc các vật liệu có chứa từ tính.</li>
                    </ul>
                    <p>d. Các sản phẩm khác thuộc danh mục Hàng hóa cấm vận chuyển bằng đường hàng không theo chính sách của đơn vị cung cấp dịch vụ vận chuyển đường hàng không hoặc theo quy định của Nhà nước tùy vào từng thời điểm.</p>
                </div>
                <p><b>Lưu ý:</b> Đối với các bưu gửi thuộc danh sách Hàng hóa cấm vận chuyển bằng đường Hàng không theo quy định tại Mục này nhưng không nằm trong Mục I và Mục II, Khách hàng nên sử dụng gói cước vận chuyển bằng đường bộ. Trong trường hợp Khách hàng vẫn chấp nhận gửi hàng bằng đường Hàng không hoặc gói Nhanh gây ra việc trễ toàn trình hoặc Hàng hóa bị cơ quan chức năng tịch thu thì WeShip sẽ được miễn trừ trách nhiệm pháp lý và không hỗ trợ đền bù (nếu có)./.</p>



            </div>



        </div>
    </div>



</body>

