
@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<body style="font-family:'Open Sans'">
    <main>
        <!-- Banner-->


        <div class="banner">
            <div>
                <img src="~/Content/images/Banner_recui.png" width="100%" />
            </div>
        </div>
        <!-- End Banner-->
        <!-- Search -->
        @*<div class="mt-4">
            <div class="col-10 offset-1">
                <div class="row-style">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-1">
                        <select id="txtStatusCus" name="txtStatusCus" class="form-control">
                            <option selected disabled hidden>Vị trí tuyển dụng</option>
                            <option value="">Giám đốc</option>
                            <option value="1">Phó giám đốc</option>
                            <option value="2">Kế toán</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-1">
                        <select id="txtStatusCus" name="txtStatusCus" class="form-control">
                            <option selected disabled hidden>Hình thức là việc</option>
                            <option value="">Giám đốc</option>
                            <option value="1">Phó giám đốc</option>
                            <option value="2">Kế toán</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-1">
                        <input type="text" class="form-control" placeholder="Tên công việc, vị trí tuyển dụng ..." />
                    </div>
                    <div class="col-md-2 offset-md-0 col-sm-12 mt-1">
                        <div class="text-center">
                            <button class="btn" style="background-color:#FF6E1E; color: white">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- End search-->
        <div class="detail m-20 mt-3">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center">
                            <h2 style="color:orangered; font-size: 30px; padding-top:2%; padding-bottom: 2%">Vị trí tuyển dụng</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-40">
            <div class="col-10 offset-1">
                <div class="row card-body" style="background: #FFFFFF; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12); border-radius: 8px; height: auto">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-1">
                        <div class="text-dark mt-3 mb-20 text-center">
                            <img src="~/Content/images/logo-weship.png" style="height: 35px; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 mt-2">
                        <div class="row">
                            <div>
                                <a href="#" onclick="window.location='/IntroDuce/RecruitmentDetail'"><b>Nhân viên chăm sóc khách hàng ( CC Executive)</b></a>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div>Mức lương: 6,000,000 - 9,000,000</div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div>Hình thức làm việc: Nhân viên chính thức</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn" style="background-color:#FF6E1E; color: white" onclick="window.location='/IntroDuce/RecruitmentDetail'">Ứng tuyển</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div>Hạn nộp: 31/01/2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-40">
            <div class="col-10 offset-1">
                <div class="row card-body" style="background: #FFFFFF; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12); border-radius: 8px; height: auto">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-1">
                        <div class="text-dark mt-3 mb-20 text-center">
                            <img src="~/Content/images/logo-weship.png" style="height: 35px; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 mt-2">
                        <div class="row">
                            <div>
                                <a href="#" onclick="window.location='/IntroDuce/RecruitmentDetail'"><b>Nhân viên chăm sóc khách hàng ( CC Executive)</b></a>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div>Mức lương: 6,000,000 - 9,000,000</div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div>Hình thức làm việc: Nhân viên chính thức</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn" style="background-color:#FF6E1E; color: white" onclick="window.location='/IntroDuce/RecruitmentDetail'">Ứng tuyển</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div>Hạn nộp: 31/01/2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

