
@{
    ViewBag.Title = "ShippingProcess";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="hr1"></div>
<body style="font-family:'Open Sans'">
    <div class="complain">
        <div class="container">
            <h2>QUY TRÌNH GỬI HÀNG</h2>
            <div class="complain-section">

                <div>
                    <h3>I. QUY CHUẨN ĐÓNG GÓI</h3>
                    <p>Đóng gói bằng thùng, hộp bằng bìa cứng bên ngoài (trừ các sản phẩm khó bể vỡ và biến dạng như quần áo, vải, ...). </p>
                    <p>Đối với hàng hóa dễ vỡ: cần được bọc kín, gia cố bằng mút, xốp, giấy báo bên trong hộp đóng gói để đảm bảo không bể vỡ trong suốt quá trình vận chuyển.</p>
                    <ul>
                        <li>Đối với hàng hóa có chứa chất lỏng: cần được bọc bằng bao bì chống thấm trước khi gói.</li>
                        <li>Đối với hàng hóa đặc biệt như có chứa chất lỏng, hàng dễ vỡ, hàng dễ móp méo, …: phải được dán cảnh báo “Hàng dễ vỡ” bên ngoài bao bì đóng gói.</li>
                    </ul>
                    <p><b>Lưu ý:</b></p>
                    <p>Quy định này áp dụng cho cả hàng nhận tại điểm gửi và hàng nhận tại nhà khách.</p>
                    <p>Khách hàng có trách nhiệm đóng gói theo đúng tiêu chuẩn của WeShip, nếu nhân viên WeShip đóng gói giùm cho khách thì cũng cần đóng gói theo đúng tiêu chuẩn của WeShip. Trong trường hợp này, Khách hàng chịu 100% chi phí đóng gói.</p>
                    <p>Trường hợp hàng hóa không đóng gói đúng tiêu chuẩn thì nhân viên giao nhận sẽ hướng dẫn Khách hàng đóng gói lại. Trong trường hợp Khách hàng không đồng ý đóng gói lại hoặc vẫn tiếp tục đóng gói không đúng tiêu chuẩn WeShip thì nhân viên có quyền từ chối nhận hàng.</p>
                    <p>Trường hợp hàng hóa WeShip đã nhận nhưng sau đó không đảm bảo tiêu chuẩn đóng gói (do quá trình vận chuyển bị ướt, móp, rách…) thì kho hiện tại của đơn hàng đó sẽ gia cố lại đơn hàng sau khi có sự đồng ý xác nhận của Khách hàng.</p>
                </div>

                <div>
                    <h3>II. HƯỚNG DẪN ĐÓNG GÓI </h3>
                    <p><b>1. Quy cách đóng gói đối với sản phẩm là hàng dễ vỡ (sành sứ, thủy tinh, gương, kính, …):</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Túi khí, băng keo, thùng carton, mút xốp, tem “Hàng dễ vỡ”.</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dùng xốp bọc kín từ 2 - 3 lớp và dùng băng keo để gia cố. </li>
                            <li>Bước 2: Đặt sản phẩm vào thùng carton, dùng mút xốp, tấm bọt khí… chèn cố định sản phẩm cho vừa khít, không còn khoảng trống so với thùng carton; sau đó dùng băng keo gia cố thùng carton. </li>
                            <li>Bước 3: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng. </li>
                        </ul>
                        <p><b>Lưu ý: </b>khi đóng gói nhiều sản phẩm dễ vỡ trong cùng một đơn: cần sử dụng mút xốp bọc riêng từng sản phẩm trước khi xếp hàng vào thùng.</p>
                    </div>

                    <p><b>2. Quy cách đóng gói đối với hàng có chứa chất lỏng như sữa, nước giải khát, bia, rượu:</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Bọc kín sản phẩm bằng tấm bọt khí hoặc các vật liệu chống va đập và chống thấm nước.</li>
                            <li>Bước 2: Dùng băng keo để cố định sản phẩm </li>
                            <li>Bước 3: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng. </li>
                        </ul>
                    </div>

                    <p><b>3. Quy cách đóng gói đối với can, túi, bình chứa chất lỏng trên 1 lít (nước giặt, nước xả vải, ...):</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dán kín nắp đậy bằng băng keo và gói sản phẩm bằng giấy bọc khí; đảm bảo sản phẩm được bịt kín không cho chất lỏng chảy ra ngoài dù bị dốc ngược.</li>
                            <li>Bước 2: Cho sản phẩm đã gói bằng giấy bọc khí vào túi nilon và gia cố bằng băng keo </li>
                            <li>Bước 3: Đặt sản phẩm vào thùng carton, dùng mút xốp mề cố định sản phẩm cho vừa khít, không còn khoảng trống so với thùng carton. </li>
                            <li>Bước 4: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng.</li>
                        </ul>
                        <p><b>Lưu ý: </b>khi đóng gói nhiều sản phẩm dễ vỡ trong cùng một đơn: cần được ngăn cách bằng vách ngăn hoặc các vật liệu có độ đàn hồi như mút xốp chèn giữa các khoảng trống, tránh để hàng bị xê dịch.</p>
                    </div>

                    <p><b>4. Quy cách đóng gói đối với chai, lọ, bình chứa có dung tích nhỏ hơn hoặc bằng 01 lít:</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dán kín nắp đậy bằng băng keo và gói sản phẩm bằng giấy bọc khí; đảm bảo sản phẩm được bịt kín không cho chất lỏng chảy ra ngoài dù bị dốc ngược.</li>
                            <li>Bước 2: Cho sản phẩm đã gói bằng giấy bọc khí vào túi nilon và gia cố bằng băng keo </li>
                            <li>Bước 3: Đặt sản phẩm vào thùng carton, dùng mút xốp cố định sản phẩm cho vừa khít, không còn khoảng trống so với  thùng carton.</li>
                            <li>Bước 4: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng.</li>
                        </ul>
                        <p><b>Lưu ý: </b>khi đóng gói nhiều sản phẩm dễ vỡ trong cùng một đơn: cần được ngăn cách bằng vách ngăn hoặc các vật liệu có độ đàn hồi như mút xốp chèn giữa các khoảng trống, tránh để hàng bị xê dịch.</p>
                    </div>

                    <p><b>5. Quy cách đóng gói đối với sản phẩm là hàng điện tử (tivi, loa, màn hình máy tính…):</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dùng xốp/ mút bọc xung quanh 2 mặt sản phẩm; sau đó dùng băng keo gia cố 2 mặt xốp/ mút.</li>
                            <li>Bước 2: Dùng giấy bọt khí bọc xung quanh và dán băng keo gia cố sản phẩm. </li>
                            <li>Bước 3: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng.</li>
                        </ul>
                    </div>

                    <p><b>6. Quy cách đóng gói đối với sản phẩm là hàng điện tử kích thước nhỏ (điện thoại di động, máy ảnh, laptop):</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Gói kín hộp bằng túi nilon; sau đó dùng băng keo để gia cố</li>
                            <li>Bước 2: Sử dụng các vật liệu chống va đập (giấy bọt khí, mút mềm, …) gói sản phẩm và dùng băng keo để gia cố các góc. </li>
                            <li>Bước 3: Sử dụng thùng carton có kích thước phù hợp (không quá to). Thùng phải chèn thêm các vật liệu chống va đập bên trong; đồng thời dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài.</li>
                        </ul>
                    </div>

                    <p><b>7. Quy cách đóng gói đối với sản phẩm thông thường khác</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, băng keo, thùng carton, tem “Hàng dễ vỡ”</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dùng màn co quấn/ xốp chống sốc quấn xung quanh khu vực thùng.</li>
                            <li>Bước 2: Dán tem “Hàng dễ vỡ” và phiếu giao nhận hàng bên ngoài thùng. </li>
                        </ul>
                    </div>

                    <p><b>8. Quy cách đóng gói đối với sản phẩm là hàng có hình trụ dài (tranh, bản đồ, …):</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Thùng hàng, bì thư, băng keo</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Đặt sản phẩm vào trong ống nhựa/ ống giấy cứng.</li>
                            <li>Bước 2: Bịt kín và cố định 02 đầu bằng băng keo. </li>
                            <li>Bước 3: Dán phiếu giao nhận hàng lên kiện hàng. </li>
                        </ul>
                    </div>

                    <p><b>9. Quy cách đóng gói đối với sản phẩm là sim điện thoại, thẻ nhớ, voucher, giấy tờ có giá:</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Thùng hàng, bì thư, băng keo</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Đóng gói trong bì thư và gia cố các mép bằng băng keo.</li>
                            <li>Bước 2: Đặt bì thư vào trong thùng carton và gia cố bằng băng keo. </li>
                        </ul>
                    </div>

                    <p><b>10. Quy cách đóng gói đối với sản phẩm thông thường khác:</b></p>
                    <p>Chuẩn bị nguyên vật liệu: Tấm bọt khí, túi nilon, thùng carton, băng keo, mút xốp</p>
                    <p>Các bước thực hiện:</p>
                    <div>
                        <ul>
                            <li>Bước 1: Dùng tấm bọt khí hoặc túi nilon để gói sản phẩm và dùng băng keo gia cố.</li>
                            <li>Bước 2: Đặt sản phẩm vào thùng carton, chèn xốp mềm (nếu cần ); sau đó dùng băng keo gia cố. </li>
                            <li>Bước 3: Dán phiếu giao nhận hàng lên sản phẩm. </li>
                        </ul>
                    </div>

                    <p><b>Những lưu ý trong quá trình đóng gói sản phẩm:</b></p>
                    <p><b>(1) Thùng carton: Không nên sử  dụng thùng đã cũ, bị rách, cắt dán…</b></p>
                    <p><b>(2) Bao nilon/túi khí: Không sử dụng bao nilong/túi khí đã qua sử dụng, cũ kỹ, rách nát…</b></p>
                    <p><b>(3) Băng keo: Không sử dụng băng keo cũ, bị rách…</b></p>
                    <p><b>(4) Các yêu cầu khác: Các sản phẩm có giá trị cao như điện thoại, máy tính, laptop…phải được dán niêm phong, quá trình đóng gói phải chèn chắc chắn không phát ra tiếng động hiện tượng lắc khi vận chuyển.</b></p>





                </div>


                <h3>III. QUY ĐỊNH VỀ KÍCH THƯỚC VÀ KHỐI LƯỢNG</h3>
                <table class="table table-bordered text-center">
                    <tr>
                        <th>TRƯỜNG HỢP</th>
                        <th>TRỌNG LƯỢNG</th>
                        <th>KÍCH THƯỚC 3 CHIỀU TỐI ĐA</th>
                        <th>KHỐI LƯỢNG QUY ĐỔI TỐI ĐA</th>
                    </tr>
                    <tr>
                        <td>
                            Nhân viên đến lấy hàng
                        </td>
                        <td>50 kg</td>
                        <td>50 x 30 x 50 cm</td>
                        <td>15 kg</td>

                    </tr>
                    <tr>
                        <td>Khách hàng gửi hàng trực tiếp ngoài điểm</td>
                        <td>30kg</td>
                        <td>100 x 100 x 100 cm</td>
                        <td>200 kg</td>
                    </tr>
                </table>
                <p>Trường hợp có sự chênh lệch giữa khối lượng thực tế và khối lượng quy đổi thì WeShip sẽ áp dụng tính cước đối với khối lượng cao hơn (“Khối lượng tính cước”). Khối lượng quy đổi tính theo công thức:</p>
                <p>Trường hợp Khối lượng tính cước bị lẻ số kg thì số kg lẻ (sau đây tạm gọi là số “X”) sẽ được làm tròn lên như sau:</p>
                <img src="~/Content/images/image66.jpg" alt="" width="100%" />

                <p class="mt-30">X kg < 0,5: sẽ được làm tròn là 0,5 kg</p>
                <p>X kg > 0,5 kg: sẽ được làm tròn là 1 kg.</p>

                <h3>IV. QUY TRÌNH GỬI HÀNG</h3>
                <p><b>1. Lấy hàng - Nhận hàng:</b></p>
                <p>WeShip nhận hàng khi người gửi tạo trên hệ thống <b>Weship</b> hoặc được nhân viên WeShip hỗ trợ tạo đơn.</p>
                <p>Khi nhận hàng, nhân viên giao nhận sẽ để lại phiếu nhận hàng thể hiện những mã vận đơn đã nhận cho người gửi – người gửi không bàn giao hàng nếu nhân viên giao nhận không cung cấp phiếu nhận hàng và liên hệ tổng đài để WeShip điều phối nhân viên giao nhận khác lấy hàng nhanh nhất.</p>
                <p>Đơn hàng phải được đóng gói, nhập khối lượng và kích thước thực theo quy định. WeShip có quyền từ chối nếu đơn hàng không được đóng gói đảm bảo hoặc sai cân nặng, khối lượng.</p>
                <p>Trong trường hợp liên hệ không thành công, nhân viên giao nhận sẽ để lại tin nhắn cho người gửi.</p>
                <p>Một mã đơn hàng tương ứng một kiện hàng.</p>
                <p>Mã đơn hàng sẽ được huỷ trên hệ thống sau 3 ngày lấy hàng (bao gồm ngày tạo đơn hàng) không thành công với lý do đến từ người gửi hàng.</p>

                <p><b>2. Giao hàng:</b></p>
                <p>Nhân viên giao nhận gọi người nhận tối thiểu 03 cuộc gọi nếu người nhận không nhấc máy hoặc không liên lạc được.</p>
                <p>Trong trường hợp không liên hệ được, nhân viên giao nhận sẽ để lại tin nhắn cho người nhận.</p>
                <p>WeShip hỗ trợ thay đổi địa chỉ 1 lần cho mỗi đơn hàng (Cộng thêm thời gian vận chuyển tuỳ khu vực & tính thêm chi phí phát sinh):</p>
                <p>WeShip hỗ trợ thay đổi địa chỉ (có tính phí) trên cả nước trong trường hợp cước phí vận chuyển do người gửi thanh toán (qua ví, công nợ hoặc tiền mặt...).</p>
                <p>WeShip sẽ thực hiên theo 1 trong 3 yêu cầu của người gửi khi tạo đơn, gồm:</p>
                <p>Không cho xem hàng.</p>
                <p>Cho xem hàng – không cho thử hàng (tối đa 15 phút).</p>
                <p>Cho thử hàng (tối đa 15 phút).</p>
                <p>Hỗ trợ người nhận hẹn lại thời gian giao hàng tối đa 15 (mười lăm) ngày kể từ ngày giao hàng lần đầu tiên.</p>
                <p>Khi nhận hàng, người nhận cần ký nhận và ghi rõ họ tên vào biên bản. Trong trường hợp đơn hàng không thu tiền, người nhận cần cung cấp CMND (thẻ căn cước)/ bằng lái xe/ Hộ chiếu để nhân viên giao hàng chụp ảnh hoặc ghi lại thông tin.</p>

                <p><b>3. Trả hàng:</b></p>
                <p>Hàng hóa của Khách hàng sẽ được WeShip chuyển trả về lại địa chỉ đã lấy hàng trong trường hợp giao không thành công. Lý do của mỗi đơn sẽ được ghi chú cụ thể trên hệ thống <b>WeShip</b></p>
                <p> Thời gian trả hàng từ 3-5 ngày (Nội tỉnh/thành phố) hoặc từ 3-10 ngày (Ngoại tỉnh).</p>

            </div>

            
        </div>
    </div>



</body>

