
@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="hr1"></div>
<body style="font-family:'Open Sans'">
    <div class="complain">
        <div class="container">
            <h2>ĐIỀU KHOẢN SỬ DỤNG</h2>
            <p style="font-weight: 700">Bằng việc chấp nhận sử dụng Dịch vụ của Công ty TNHH WeShip Việt Nam, Khách hàng hiểu và đồng ý với chính sách về Quyền và nghĩa vụ được nêu dưới đây.</p>
            <div class="complain-section">
                <h3>I. THUẬT NGỮ</h3>
                <div class="bold-text">
                    <h4>1. Thời hiệu khiếu nại: </h4>
                    <p><b>“WeShip” </b>có nghĩa là Công ty TNHH WeShip Việt Nam.</p>
                    <p><b>“Khách hàng”</b> có nghĩa là cá nhân hoặc tổ chức sử dụng Dịch vụ của WeShip.</p>
                    <p><b>“Tài Khoản”</b> có nghĩa là tài khoản đã đăng ký mà Bạn nhận được để truy cập Hệ Thống với tư cách là Người Dùng;</p>
                    <p><b>“Luật Áp Dụng”</b> có nghĩa là tất cả các luật hiện hành, quy chế, sắc lệnh, quy định, chính sách được quy định, pháp lệnh, nghị định thư, bộ quy tắc ngành, quy tắc giao thông đường bộ, giấy phép theo quy định, giấy phép hành nghề theo quy định hoặc yêu cầu của mọi tòa án hoặc cơ quan xét xử hay cơ quan hoặc bộ phận thuộc chính phủ, pháp định, quy định, tư pháp, hành chính hoặc giám sát, có hiệu lực vào từng thời điểm trong thời hạn của các Điều Khoản Sử Dụng này;</p>
                    <p><b>“Ứng Dụng Tài Xế”</b> có nghĩa là ứng dụng điện tử do WeShip cung cấp cho Nhà Cung Cấp Dịch Vụ Vận Tải để kết nối với Người Dùng;</p>
                    <p><b>“Thiết Bị Di Động”</b> nghĩa là điện thoại thông minh, máy tính bảng hoặc thiết bị di động khác do Bạn sở hữu hoặc kiểm soát mà Bạn sử dụng để kết nối với Ứng Dụng Người Dùng;</p>
                    <p><b>“Chính Sách”</b> có nghĩa là bất kỳ chính sách, thông tin hoặc chỉ dẫn nào áp dụng cho Người Dùng, được thông báo cho Bạn vào từng thời điểm (bao gồm thông qua Dịch vụ, Trang web, Chính sách hoặc đến địa chỉ email của bạn được nêu trong Tài khoản của Bạn), và có thể được WeShip cập nhật vào từng thời điểm;</p>
                    <p><b>Điều Khoản Cụ Thể</b> có nghĩa là các điều khoản bổ sung hoặc thay thế có thể áp dụng cho một số phần cụ thể của Hệ Thống và/hoặc Dịch Vụ Vận Tải, được thông báo cho Bạn vào từng thời điểm; </p>
                    <p><b>Hệ Thống</b> có nghĩa là hệ thống do WeShip cung cấp để kết nối Nhà Cung Cấp Dịch Vụ Vận Tải với Người Dùng, bao gồm Ứng Dụng Tài Xế, Ứng Dụng Người Dùng và các phần mềm, trang điện tử, nền tảng, dịch vụ thanh toán và các hệ thống và dịch vụ hỗ trợ khác liên quan, bao gồm các Trang Điện Tử. Để tránh nhầm lẫn, Hệ Thống có thể không bao gồm Dịch Vụ Vận Tải, vì dịch vụ này có thể do Nhà Cung Cấp Dịch Vụ Vận Tải cung cấp trực tiếp cho Bạn;</p>
                    <p><b>Điều Khoản Sử Dụng</b> có nghĩa là Điều Khoản Sử Dụng của Người Dùng WeShip và tất cả Điều Khoản Cụ Thể áp dụng;</p>
                    <p><b>Nhà Cung Cấp Dịch Vụ Vận Tải</b> có nghĩa là bên cung cấp dịch vụ thứ ba độc lập cung cấp Dịch Vụ Vận Tải đã được kết nối với Bạn thông qua Hệ Thống;</p>
                    <p><b>Dịch Vụ Vận Tải</b> có nghĩa là dịch vụ vận tải do Nhà Cung Cấp Dịch Vụ Vận Tải cung cấp khi họ được kết nối với Bạn thông qua Hệ Thống, tùy thuộc vào Lãnh Thổ, Dịch Vụ Vận Tải có thể bao gồm dịch vụ giao hàng hóa, dịch vụ vận tải, dịch vụ giao thực phẩm, dịch vụ mua sắm cá nhân và các dịch vụ khác được Nhà Cung Cấp Dịch Vụ Vận Tải cung cấp thông qua Hệ Thống vào từng thời điểm;  </p>
                    <p><b>Người Dùng</b> có nghĩa là người dùng cuối đã đăng ký của Ứng Dụng Người Dùng;</p>
                    <p><b>Ứng Dụng Người Dùng</b> có nghĩa là ứng dụng điện tử do WeShip cung cấp cho Người Dùng để kết nối với Nhà Cung Cấp Dịch Vụ Vận Tải;</p>
                    <p><b>Xe</b> có nghĩa là xe được Nhà Cung Cấp Dịch Vụ Vận Tải sử dụng cho mục đích cung cấp Dịch Vụ Vận Tải;</p>

                    <p><b>Voucher</b> có nghĩa là giá trị tiền điện tử hoặc tín dụng, khi được Người dùng sử dụng hợp lệ, có thể được sử dụng để bù đắp các khoản phí mà Người dùng phải trả thông qua Ứng Dụng Người Dùng, theo các điều khoản và điều kiện do WeShip chỉ định.</p>
                    <p><b>Trang Điện Tử</b> có nghĩa là bất kỳ trang điện tử nào do WeShip điều hành vào từng thời điểm.</p>
                    <p><b>Đối tác</b> có nghĩa là cá nhân hoặc tổ chức hợp tác cùng WeShip để cung cấp dịch vụ của WeShip.</p>
                    <p><b>Bưu gửi</b> có nghĩa là thư, gói, kiện hàng hóa được WeShip chấp nhận, vận chuyển và phát hợp pháp trong hệ thống bưu cục của WeShip.</p>
                    <p><b>Đơn hàng</b> có nghĩa là yêu cầu thực hiện Dịch vụ được Khách hàng thiết lập qua Hệ thống hoặc được viết tay dưới dạng Phiếu gửi/Phiếu yêu cầu Dịch vụ có đầy đủ thông tin về Bưu gửi.</p>
                    <p><b>Dịch vụ</b> có nghĩa là dịch vụ liên quan việc, vận chuyển, Đặt hàng, giao nhận Bưu gửi, bao gồm: chấp nhận, vận chuyển và phát Bưu gửi bằng các phương thức khác nhau từ địa điểm do Khách hàng chỉ định đến địa điểm của người nhận.</p>
                </div>

                <h3>II. QUYỀN VÀ NGHĨA VỤ CỦA KHÁCH HÀNG</h3>
                <b>1. Quyền của Khách hàng, người dùng</b>
                <ul>
                    <li>Được WeShip cung cấp đầy đủ thông tin liên quan đến toàn bộ quy trình cung ứng Dịch vụ.</li>
                    <li>Được WeShip đảm bảo bí mật thông tin, an toàn đối với Bưu gửi trong toàn quá trình giao hàng theo qui định của pháp luật.</li>
                    <li>Được WeShip giải quyết khiếu nại, được giải quyết thỏa đáng về Dịch vụ cung ứng đã sử dụng.</li>
                    <li>Được WeShip bồi thường thiệt hại tùy theo thực tế từng trường hợp.</li>
                </ul>
                <b>2. Nghĩa vụ của khách hàng, người dùng</b>
                <ul>
                    <li>Thực hiện việc đối soát cước phí Dịch vụ đảm bảo đúng thời hạn.</li>
                    <li>Không gửi Bưu gửi chưa được lưu thông trên thị trường, hàng cấm, hàng hạn chế vận chuyển/kinh doanh hoặc hàng kinh doanh có điều kiện nhưng không cung cấp được giấy phép.</li>
                    <li>Khách hàng có nghĩa vụ mở hàng và phối hợp với WeShip trong việc đồng kiểm cũng như niêm phong hàng hóa khi gửi hàng.</li>
                    <li>Chịu trách nhiệm trước WeShip và trước pháp luật về nội dung Bưu gửi, hóa đơn, chứng từ nguồn gốc xuất xứ của Bưu gửi và chứng từ đính kèm.</li>
                    <li>Chịu trách nhiệm làm việc, giải quyết với Cơ quan có thẩm quyền khi Bưu gửi tạm giữ hoặc tịch thu.</li>
                    <li>Cung cấp đầy đủ hóa đơn, chứng từ của Bưu gửi cho WeShip khi gửi Bưu gửi.</li>
                    <li>WeShip sẽ được miễn trừ trách nhiệm bồi thường trong trường hợp Bưu gửi bị tạm giữ hoặc tịch thu bởi cơ quan có thẩm quyền do Bưu gửi không có hóa đơn, chứng từ hợp pháp đính kèm.</li>
                    <li>Đóng gói Bưu gửi theo đúng từng quy cách, kích thước và tính chất của từng mặt hàng, đặc biệt đối với Bửu gửi là các mặt hàng dễ vỡ.</li>
                    <li>Cung cấp đầy đủ chỉ dẫn liên quan đến Bưu gửi; thông tin liên quan đến Người gửi, Người nhận trên Bưu gửi.</li>
                    <li>Bồi thường thiệt hại thực tế cho WeShip và bên thứ 3 có liên quan khi thiệt hại xảy ra có nguồn gốc từ Khách hàng/Người gửi theo quy định của pháp luật.</li>
                    <li>Chịu trách nhiệm về mọi thông tin liên quan đến Người nhận mà Khách hàng giao cho WeShip. Trường hợp xảy ra sai sót về thông tin Người nhận hoặc Bưu gửi không đúng yêu cầu của Người nhận thì Khách hàng có trách nhiệm tự giải quyết với Người nhận, đồng thời Khách hàng vẫn phải thanh toán Cước phí Dịch vụ đối với Đơn hàng trên dựa trên lộ trình đã thực hiện.</li>
                    <li>Bằng chi phí của mình, chịu trách nhiệm giải quyết các vấn đề liên quan đến</li>
                </ul>
                <p><b>(i)</b> tranh chấp về quyền sở hữu Bưu gửi, nguồn gốc Bưu gửi với bên thứ ba bất kỳ; hoặc (ii) khiếu nại của Người nhận về việc hàng hóa bị lỗi, không đúng yêu cầu.</p>
                <ul>
                    <li>Bạn phải đảm bảo rằng bất kỳ tài liệu và thông tin nào do Bạn (hoặc thay mặt Bạn) cung cấp cho WeShip hoặc thông qua Hệ Thống là luôn chính xác, cập nhật, đầy đủ và không sai lệch;</li>
                    <li>Bạn chỉ được sử dụng điểm truy cập internet và tài khoản dữ liệu mà Bạn được phép sử dụng;</li>
                    <li>Bạn không được thực hiện mọi hành vi gian lận, lừa đảo hoặc bất hợp pháp; và ạn không được làm hư hỏng hoặc gây ảnh hưởng đến hoạt động bình thường của mạng mà Hệ Thống hoạt động.</li>
                    <li>Đối xử với Nhà Cung Cấp Dịch Vụ Vận Tải và những Người Dùng khác một cách tôn trọng, phù hợp với các Chính Sách và sẽ không có thái độ hoặc thực hiện bất kỳ hành vi bất hợp pháp, đe dọa hoặc quấy rối trong khi sử dụng Dịch Vụ Vận Tải hoặc Hệ Thống;</li>
                    <li>Không gây thiệt hại đối với tài sản của bên thứ ba; và không liên hệ với Nhà Cung Cấp Dịch Vụ Vận Tải nhằm thực hiện các mục đích khác ngoài việc tiếp nhận và sử dụng Dịch Vụ Vận Tải.</li>
                    <li>Nhà Cung Cấp Dịch Vụ Vận Tải có toàn quyền quyết định có chấp nhận, từ chối, hoặc hủy yêu cầu cung cấp Dịch Vụ Vận Tải vì bất kỳ lý do nào. Không giới hạn những nội dung nêu trên, Nhà Cung Cấp Dịch Vụ Vận Tải liên quan có quyền từ chối nhận yêu cầu cung cấp dịch vụ của Bạn nếu Nhà Cung Cấp Dịch Vụ Vận Tải có cơ sở hợp lý để nghi ngờ một hành vi vi phạm Điều Khoản Sử Dụng, Chính Sách hoặc Luật Áp Dụng.</li>
                    <li>WeShip không đảm bảo rằng WeFood đang sẵn sàng phục vụ trong Lãnh Thổ của Bạn.</li>
                    <li>Bạn chỉ có thể đặt mua các Mặt Hàng F&B từ thực đơn có sẵn của từng Cửa Hàng WeFood trên Ứng Dụng Người Dùng. Cả WeShip và Cửa Hàng WeFood đều không đảm bảo các Mặt Hàng F&B cụ thể có sẵn. Các thực đơn có thể thay đổi kèm theo hoặc không kèm theo thông báo.</li>
                    <li>Đơn hàng của Bạn phải được Cửa Hàng WeFood chấp nhận và việc chấp nhận đơn hàng này sẽ được thông báo cho Bạn qua email hoặc qua Ứng Dụng Người Dùng. Cửa Hàng WeFood có toàn quyền chấp nhận hoặc từ chối đơn hàng của Bạn.</li>
                    <li>Đơn hàng WeFood không thể hủy từ thời điểm Bạn nhận được email hoặc thông báo qua Ứng Dụng Người Dùng xác nhận việc chấp nhận đơn hàng của Bạn.</li>
                    <li>Bạn không được đặt mua đồ uống có cồn qua WeFood trừ khi Bạn được quyền đặt mua một cách hợp pháp theo Luật Áp Dụng. Bằng việc đặt mua đồ uống có cồn, Bạn đồng ý đưa ra căn cước hoặc giấy tờ cá nhân của Bạn để được Nhà Cung Cấp Dịch Vụ Vận Tải xác minh đáp ứng điều kiện khi giao hàng cho đơn hàng của Bạn tại điểm đến giao hàng theo chỉ định của Bạn.</li>
                    <li>Hình ảnh và mô tả về các Mặt Hàng F&B chỉ nhằm mục đích minh họa và có thể không giống với các Mặt Hàng F&B mà Bạn nhận được trên thực tế.</li>
                    <li>Cửa Hàng WeFood có thể sử dụng các loại hạt hoặc các chất gây dị ứng khác trong quá trình chuẩn bị các Mặt Hàng F&B. Các loại hạt hoặc các chất gây dị ứng khác cũng có thể được đưa vào trong quá trình vận chuyển các Mặt Hàng F&B. Bạn không nên cho rằng các Mặt Hàng F&B không có các loại hạt hoặc các chất gây dị ứng khác.</li>
                    <li>Bạn chỉ được mua các Mặt Hàng F&B cho mục đích tiêu dùng cá nhân của riêng Bạn hoặc theo yêu cầu của người mà Bạn chỉ định là người nhận các Mặt Hàng F&B và Bạn không được đặt mua với mục đích gây hại hoặc tạo phiền phức cho Cửa Hàng WeFood hoặc người nhận đơn hàng theo chỉ định của Bạn.</li>
                    <li>Bạn đồng ý và hiểu rằng bằng việc sử dụng WeFood, Bạn cho phép Nhà Cung Cấp Dịch Vụ Vận Tải mua, đi lấy và/hoặc giao các Mặt Hàng F&B từ Cửa Hàng WeFood cho và thay mặt Bạn và bất kỳ khoản thanh toán nào phải trả cho các Mặt Hàng F&B sẽ được cộng thêm vào Cước Phí Người Dùng mà Bạn phải thanh toán cho Nhà Cung Cấp Dịch Vụ Vận Tải. Nhà Cung Cấp Dịch Vụ Vận Tải và/hoặc Cửa Hàng WeFood được quyền liên hệ với Bạn để nhận được xác nhận hoặc để làm rõ về đơn đặt mua Mặt Hàng F&B của Bạn (bao gồm trường hợp Mặt Hàng F&B bạn đặt mua không có sẵn hoặc để làm rõ địa chỉ và người nhận giao hàng). Bạn phải sẵn sàng tiếp nhận liên lạc theo thông tin liên hệ đã được cung cấp để giải quyết yêu cầu xác nhận hoặc làm rõ nêu trên.</li>
                    <li>Bạn đồng ý và hiểu rằng giá của các Mặt Hàng F&B được hiển thị trên Ứng Dụng Người Dùng chỉ là ước tính và có thể thay đổi vào từng thời điểm. Bạn đồng ý thanh toán giá các Mặt Hàng F&B như được thể hiện trong biên nhận hoặc hóa đơn mua hàng do Cửa Hàng WeFood phát hành, như được Nhà Cung Cấp Dịch Vụ Vận Tải xuất trình khi giao các Mặt Hàng F&B tại địa điểm giao hàng theo chỉ định của Bạn. Nếu có sự khác biệt đáng kể với giá các Mặt Hàng F&B được liệt kê trong Ứng Dụng Người Dùng, vui lòng cho chúng tôi biết bằng cách gửi khiếu nại qua Ứng Dụng Người Dùng.</li>
                    <li>Ngoài giá của các Mặt Hàng F & B, Nhà Cung Cấp Dịch Vụ Vận Chuyển và / hoặc Nhà Hàng thuộc WeFood có thể thu từ Bạn một số khoản phí phát sinh trong khi hoàn thành đơn đặt hàng WeFood của bạn, theo Chính sách.</li>
                    <li>Nếu Bạn không có mặt để nhận các Mặt Hàng F&B đã đặt mua tại địa điểm giao hàng được xác định trong Ứng Dụng Người Dùng, đơn hàng của Bạn có thể bị hủy và Bạn vẫn có thể bị yêu cầu thanh toán đầy đủ giá Mặt Hàng F&B liên quan và Cước Phí Người Dùng cho Dịch Vụ Vận Tải theo Điều Khoản Sử Dụng, và phí hủy dịch vụ có thể được áp dụng.</li>
                    <li>Nếu Bạn có khiếu nại liên quan đến WeFood, bao gồm bất kỳ tổn thất hoặc thiệt hại nào đối với các Mặt Hàng F & B trong quá trình cung cấp Dịch Vụ Vận Tải, vui lòng gửi khiếu nại qua Ứng Dụng Người Dùng. Liên quan đến các Mặt Hàng F & B bị hư hỏng, Bạn phải chụp ảnh và bằng chứng hợp lý khác về các Mặt Hàng F & B bị hư hỏng. Mặc dù Nhà Cung Cấp Dịch Vụ Vận Tải chịu trách nhiệm hoàn toàn đối với Dịch Vụ Vận Tải và Nhà Hàng thuộc WeFood chỉ chịu trách nhiệm cung cấp các Mặt Hàng F & B, nếu bạn có khiếu nại về Dịch vụ vận tải hoặc các Mặt Hàng F & B mà bạn đã nhận được, WeShip có quyền giải quyết mọi khiếu nại như vậy thông qua quy trình xử lý khiếu nại của WeShip và có quyền chuyển hướng khiếu nại của Bạn cho bên liên quan.</li>
                    <li>Nhà Cung Cấp Dịch Vụ Vận Tải phải đồng ý rằng họ sẽ cung cấp dịch vụ WeCar, WeBike một cách cẩn trọng và an toàn. Tuy nhiên, theo Điều Khoản Sử Dụng, Bạn với tư cách là Người Dùng dịch vụ WeCar, WeBike phải chịu trách nhiệm về sự an toàn của chính Bạn và nếu Bạn cảm thấy không thoải mái với cách điều khiển Xe của Nhà Cung Cấp Dịch Vụ Vận Tải, Bạn được khuyến khích nhắc nhở Nhà Cung Cấp Dịch Vụ Vận Tải phải cẩn thận hơn. Bạn thừa nhận rằng việc vận chuyển bằng Xe ô tô bốn bánh và mô tô hai bánh có những rủi ro vốn có nhất định và, bằng việc sử dụng WeCar hoặc WeBike, Bạn chấp nhận những rủi ro đó.</li>
                    <li>Bạn phải đội mũ bảo hiểm phù hợp do Nhà Cung Cấp Dịch Vụ Vận Tải cung cấp trong suốt chuyến đi bằng dịch vụ WeBike. Nếu không có sẵn mũ bảo hiểm, Bạn nên hủy dịch vụ WeBike của Bạn và thông báo cho WeShip.</li>
                    <li>Bạn không được can thiệp vào việc điều khiển Xe một cách an toàn của Nhà Cung Cấp Dịch Vụ Vận Tải.</li>
                    <li>Nếu Bạn cho phép một người khác sử dụng dịch vụ WeCar, WeBike theo yêu cầu của Bạn qua Ứng Dụng Người Dùng (dù có đi cùng với Bạn hay không), Bạn phải chịu trách nhiệm về sự an toàn của người đó.</li>
                    <li>Mô tả Xe chỉ mang tính minh họa. Trong phạm vi tối đa được Luật Áp Dụng cho phép, WeShip không đảm bảo rằng Xe sẽ khớp với mô tả về nó.</li>
                    <li>Địa điểm đón và trả khách là địa điểm gần đó. Nhà Cung Cấp Dịch Vụ Vận Tải có thể quyết định đón Bạn hoặc trả Bạn tại một địa điểm khác gần đó trong trường hợp Nhà Cung Cấp Dịch Vụ Vận Tải xác định một cách hợp lý rằng việc đón Bạn hoặc trả Bạn tại địa điểm ban đầu là nguy hiểm hoặc bị cấm theo Luật Áp Dụng.</li>
                </ul>
            </div>



        </div>
    </div>



</body>

