<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214876326960-l28aoq7huf1g3eubdfj404un8es3j6qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214876326960-l28aoq7huf1g3eubdfj404un8es3j6qi</string>
	<key>API_KEY</key>
	<string>AIzaSyBZxP5BauriGNn9rVQtiwKMeYapApFFmcY</string>
	<key>GCM_SENDER_ID</key>
	<string>214876326960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.carrect.customer</string>
	<key>PROJECT_ID</key>
	<string>car-rect-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>car-rect-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214876326960:ios:f4c66ad06f2bd9e4c571f5</string>
	<key>DATABASE_URL</key>
	<string>https://car-rect-ios.firebaseio.com</string>
</dict>
</plist>