<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WeShip - Dịch vụ giao hàng nhanh hàng đầu Việt Nam</title>
    <meta name="description" content="Dịch vụ giao hàng nội thành hàng đầu với đa dạng, giúp bạn đặt giao hàng nhanh chóng, đơn giản khắp Hà Nội và TP.HCM.">
    <meta property="og:site_name" content="WeShip" /> <!-- website name -->
    <meta property="og:site" content="http://weshipvn.com/" data-rh="true" /> <!-- website link -->
    <meta property="og:title" content="WeShip - Dịch vụ giao hàng nhanh hàng đầu Việt Nam" data-rh="true" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Dịch vụ giao hàng nội thành hàng đầu với đa dạng, giúp bạn đặt giao hàng nhanh chóng, đơn giản khắp Hà Nội và TP.HCM." data-rh="true" /> <!-- description shown in the actual shared post -->

    <meta property="og:image:secure_url" content="http://weshipvn.com/Content/images/logo-weship.png">
    <meta property="og:image" content="http://weshipvn.com/Content/images/logo-weship.png">
    <meta property="og:image:url" content="http://weshipvn.com/Content/images/logo-weship.png">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="WeShip - Dịch vụ giao hàng nhanh hàng đầu Việt Nam" />

    <meta property="og:url" content="http://weshipvn.com/" data-rh="true" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-452.min.css">

    <script src="~/Content/assets/js/jquery-351.min.js"></script>
    <script src="~/Content/assets/js/popper-1160.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-452.min.js"></script>
    <script src="~/Content/assets/js/mail.js"></script>
    <script src="~/Content/assets/js/smtp.js"></script>
    <script src="~/Content/assets/js/sweetalert.min.js"></script>
    @*<script src="~/Content/assets/js/test.js"></script>*@

    <link href="~/Content/assets/css/custom-slide.css" rel="stylesheet">

</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/images/logo-weship.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a onclick="window.location='/IntroDuce/HomeIntro'"><img src="~/Content/images/logo-weship.png" alt="" style="cursor: pointer; width: 180px; background-size: cover; text-align: center;"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a style="cursor: pointer;">Chúng tôi</a>
                                            <ul class="submenu">
                                                <li><a href="#" onclick="window.location='/IntroDuce/IntroDuce'">Giới thiệu </a></li>
                                                <li><a href="#" onclick="window.location='/IntroDuce/News'">Tin tức </a></li>
                                                @*<li><a href="#" onclick="window.location='/IntroDuce/Recruitment'">Tuyển dụng</a></li>*@
                                            </ul>
                                        </li>
                                        <li><a href="#" onclick="window.location='/IntroDuce/DriverPartner'">Đối tác tài xế</a></li>
                                        <li><a href="#" onclick="window.location='/IntroDuce/WeOperate'">Hợp tác cùng WeShip</a></li>
                                        <li><a href="#" onclick="window.location='/IntroDuce/FeeShip'">Bảng giá</a></li>
                                        <li><a href="#" onclick="window.location='/IntroDuce/Contact'">Liên hệ</a></li>
                                        @*<li><a href="#" onclick="window.location='/IntroDuce/Order'" class="btn-order">Đặt giao hàng ngay </a></li>*@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    @RenderBody()
    <footer>
        <!-- Footer Start-->
        <div class="footer-main" data-background="/Content/assets/img/gallery/section_bg4.png">
            <div class="footer-area footer-paddingtop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    logo
                                    <div class="footer-logo">
                                        <a><img src="~/Content/images/logo2.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between">
                        <!--<div class="col-xl-2 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">-->
                        <!-- logo -->
                        <!--<div class="footer-logo">
                                        <a><img src="~/Content/images/logo-weship.png" style=" width: 200px; height: 40px; padding-right:10%"></a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-12 col-md-12  ">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4 style="color:#FFB142">Địa chỉ</h4>
                                            <span style="color: #cfcfcf; font-weight: 300; font-size: 14px">
                                                KCN Phú Vinh,  Số 14 Ngõ 14 Phan Đình Phùng, P.Kỳ Long Tx.Kỳ Anh, Hà Tĩnh
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4 style="color:#FFB142">Liên hệ</h4>
                                            <ul>
                                                <li style="text-transform: none"><a>02396.567.567</a></li>
                                                <li style="text-transform: none"><a>Cskh.weship@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4 style="color:#FFB142">Chính sách và điều khoản</h4>
                                            <ul>
                                                <li onclick="window.location='/IntroDuce/TermsOfUse'" style="text-transform: none; cursor: pointer;"><a>Điều khoản sử dụng</a></li>
                                                <li onclick="window.location='/IntroDuce/CompensationPolicy'" style="text-transform: none; cursor: pointer;"><a>Chính Sách bồi thường</a></li>
                                                <li style="text-transform: none; cursor: pointer;"><a>Chính sách hỗ trợ</a></li>
                                                @*<li onclick="window.location='/IntroDuce/PrivacyPolicy'" style="text-transform: none; cursor: pointer;"><a>Chính sách bảo mật</a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4 style="color:#FFB142">Quy trình, quy định</h4>
                                            <ul>
                                                <li onclick="window.location='/IntroDuce/ProhibitShipping'" style="text-transform: none; cursor: pointer"><a>Hàng hóa không vận chuyển</a></li>
                                                <li onclick="window.location='/IntroDuce/Complain'" style="text-transform: none; cursor: pointer"><a>Quy Định về khiếu nại</a></li>
                                                <li onclick="window.location='/IntroDuce/ShippingProcess'" style="text-transform: none; cursor: pointer"><a>Quy trình gửi hàng</a></li>
                                                <li style="text-transform: none; cursor: pointer"><a>Quy Tắc Ứng xử</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <!--<div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!--Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!--</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

    <script src="~/Content/assets/js/multislider.min.js"></script>
    <!--     <script src="js/jquery-2.2.4.min.js"></script> -->
    <!-- Initialize element with Multislider -->
    <script>
        $('#exampleSlider').multislider({
            interval: 4000,
            slideAll: true,
            duration: 1500
        });
    </script>

    <!-- js button upload file-->
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        // Load danh sách quận huyện
        function loadListCity(prvID) {
            $.ajax({
                url: "/Shop/LoadDistrict",
                data: { ProvinceID: prvID },
                success: function (result) {
                    $("#select_district").empty();
                    $("#select_district").append("<option selected disabled hidden '>Quận/Huyện</option>");
                    $.each(result, function () {
                        var select = "<option value='" + this.ID + "'>" + this.Name + "</option>";
                        $("#select_district").append(select);
                    });
                }
            });
        }

        $('.number-type').keydown(function (e) {
            if (e.keyCode == 69 || e.keyCode == 189 || e.keyCode == 188 || e.keyCode == 231)
                return false;
        });
    </script>

</body>
</html>